<div class="container" >
<div class="about-des">
<h3>Boston City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Boston can be classified as one of the greatest cities to visit in the U.S.  It has the country's richest history, fantastic dining experiences, professional sports teams, and a world-class shopping scene. It's no wonder millions of people visit Boston each year to catch a glimpse of it's New England charm. With a welcoming downtown, a buzzing nightlife, and an active population, Boston has become a wonderful example of honoring the past and preparing for the future.</p>
</div>
</div>
<div
align="center">
<h2 class="h2-top">Book a best hotel to stay in Boston city</h2>
</div>
