<div class="wrapp">
<div class="full-details">
<br />

<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Chicago is a lot easier than you think. It's the second biggest transportation system in the country, and they have a mode of transportation for everyone.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in Chicago.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Chicago has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Chicago is massive.  There is a bus going somewhere at every second of the day.  With thousands of routes, taking the bus around Chicago is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses around the city.  To plan your trips or for more general information on bus transportation, the Chicago Transit website is going to be your best friend.</p>

<h6 class="h6-about">Rail</h6>
<p class="para">The Metra, Chicago's rail system is a great option if you are staying outside of the city center and want a quick way to get into the city.  For timetables and routes, visit the Metra website.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uberhas become a highly sought out transport solution in many major cities including Chicago.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>
<h6 class="h6-about">O'Hare International Airport</h6>
<p class="para">Located only 17 miles from downtown Chicago, this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares.  Taxis will cost around $40-50 to get into the city, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times.</p>

<h6 class="h6-about">Midway International Airport</h6>
<p class="para">This airport is a little closer, only being 10 miles from the city.  Midway offers up cheap flights and is a popular airport for closer destinations to Chicago.  They also have fantastic transport in to the city, with many budget options.  For their timetables and fares, visit their website.  A taxi from Midway will cost around $30 to get you into the city.  Like O'Hare, if you are not traveling solo, a taxi is great, but if not, check for cheaper options on the website for Midway. 
<br><br>
For all options to get to/from both airports the Chicago Transit website offers a detailed list of options here.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">Chicago is divided into four different neighborhoods full of fun, food, and people from all over the world.  Each area has it's own unique feel and purpose, making Chicago feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">North</h6>
<p class="para">The North neighborhood of Chicago is an eclectic mix of art, sports, food, and music.  This is a fantastic stop if you want to check out a Chicago Cubs  baseball game, eat Indian for lunch and Ethiopian for dinner, then catch some live music.  Everything you need to have a great time is located in the north.</p>

<h6 class="h6-about">West</h6>
<p class="para">Specialty shops and a melting pot of cultures reside in the West neighborhood.  There is a big Greek, Mexican and Puerto Rican community in the west, brimming with traditional mouthwatering food from all around the world.  This area is definitely worth a look for unique shopping and foodies.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown is where it's all at.  The famous &quot;Bean&quot; landmark, the incredible Magnificent Mile of shopping, culinary masterpieces, historical museums, eco tours, parks, you name it.  For it being the smallest neighborhood, it packs the biggest punch.  You will know doubt be spending a large amount of your time in this area.</p>

<h5 class="h6-about">South</h6>
<p class="para">The South neighborhood is full of history, including one of the oldest baseball franchises in the country, the Chicago White Sox.  It's also home to Hyde Park, a historical significant park that hosted the World Fair in 1893.  Since then, the park has kept its significance and place in the heart of every local and tourist who visits.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">Chicago boasts some of the best cuisine in the world with high-class members only dining options to the real-deal diner.  There's one thing regardless of your budget that you have to try and that's a Chicago deep-dish pizza.  If you don't, you might as well have stayed home. This city has so much to offer in terms of food, you could eat your way through a different country every day and still not have touched the surface of your options.</p>

<h6 class="h6-about">Breakfast</h6>

<h6 class="h6-about">NoMI Kitchen</h6>
<p class="para">Located in the Park Hyatt Chicago hotel, this beautiful restaurant has one of the best breakfasts in town.  Hungry? Perfect.  NoMI Kitchen has a breakfast buffet fit for a king.  With a rustic America cuisine, jaw dropping views of the city and elegance to match, this place could be the highlight of your dining experience in the Windy City.</p>

<h6 class="h6-about">Lula Cafe</h6>
<p class="para">If you enjoy small plates and sharing, check out Lula Cafe.  This place is hoppin' for brunch daily and just celebrated their 15th anniversary last year.  With beautiful local ingredients, simple yet incredible menu items, and great staff, you might not eat anywhere else but here.  The cafe also features local artwork, available for purchase.</p>

<h6 class="h6-about">Jam Restaurant</h6>
<p class="para">With one of the most impressive breakfast menus around, Jam Restaurant is worth every penny.  Taking traditional breakfast items like eggs and french toast and giving them an incredible twist makes this place a must.  Always busy, always changing up their menu, Jam gives everyone a reason to eat breakfast.  Don't forget your cash for this establishment as they do not accept any cards for payment.</p>

<h6 class="h6-about">Lunch</h6>

<h6 class="h6-about">The Bad Apple</h6>
<p class="para">If you're craving a burger, this is your joint.  Everything is house-made down to the ketchup and pickles at Bad Apple, and they do not scrimp on portions.  Choose from a basic burger to the interesting Elvis's Last Supper burger which includes peanut butter and bacon.  Either way you're in for a culinary treat.  Don't forget to add truffle seasoning to the house-cut fries for a mind blowing experience.</p>

<h6 class="h6-about">The Billy Goat Tavern</h6>
<p class="para">If you want to eat an institution in Chicago, The Billy Goat Tavern is your place.  Immortalized from the famous skit on Saturday Night Live, this tiny place has been serving up a limited menu of burgers, sandwiches, hot dogs and chips since 1934.  Don't ask for fries here, they don't have them.  Part of the fun at Billy Goat are the employees.  Don't be surprised if you hear them yell out half the menu, it's part of their job.  If you need an example, check out Dan Aykroyd, Bill Murray and Jim Belushi in the famous skit on SNL.</p>

<h6 class="h6-about">Cafe Cito</h6>
<p class="para">Chicago is a melting pot of international cuisine, and Cafe Citois one of those restaurants. Part coffeehouse part lunch spot, this cafe has been on everyone's  'best of' lists since its opening in 2008.  With Cuban influences, this place pumps out wonderful salads, platters, and of course sandwiches.  If you want a traditional Cuban sandwich, you've met your match.  Fresh ingredients, big flavor, and top notch service keeps this place busy at all hours.</p>

<h6 class="h6-about">Dinner</h6>

<h6 class="h6-about">Adobo Grill</h6>
<p class="para">Get your Mexican fix here at Adobo Grill.  With table side made guacamole, delicious margaritas, and fabulous Mexican dishes, this place has a huge local following.  Located next to the internationally known Second City Comedy Theatre, this place is always buzzing for dinner.  Make sure you reserve a table in advance for a chance to experience Adobo Grill.  If you don't make it for dinner, Adobo is open on the weekends for brunch.</p>

<h6 class="h6-about">Lou Malnati's Pizzeria</h6>
<p class="para">You can't come to Chicago and not try a traditional deep dish pizza.  It's part of the history of the city, the people and culture.  If you're going to dive into one, you might as well eat at the best pizza place in Chicago.  Named time and time again for the best deep dish, Lou Malnati's has made friends all over the world with just one bit of their pizza.  Opening in 1971, the pizzeria has been making pizzas for presidents, world-class athletes and everyday folks for decades.	</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Where to stay</h5>
<p class="para">Chicago is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Millennium Park.</p>

<h6 class="h6-about">Luxury</h6>

<h6 class="h6-about">The Drake Hotel</h6>
<p class="para">This famous landmark opened its doors in 1920 and has been the primary accommodation for celebrities and other prominent members of society ever since.  The Drake is one of the most famous historic buildings in the city and is a great place to visit even if you're not staying there.  With classic amenities, decor, and style, this hotel is like stepping back in time.  It's well worth a stay.</p>
		
<h6 class="h6-about">Trump International Hotel and Tower</h6>
<p class="para">This hotel is first-class all the way.  With 10 foot floor-to-ceiling windows in each room, state-of-the-art furnishings and amenities, this place does not do anything simple.  With some of the best views of the Chicago River and cityscape, Trump Hotel is all class. Voted year after year as one of the best hotels in the world, The Trump International aims to please every guest however short or long their stay. 
Waldorf Astoria Chicago
Located conveniently by the city's Magnificent Mile shopping district, this five-star hotel has plenty to offer including its location.  World-class is the name of the game at the Waldorf Astoria.  With a Michelin two-star restaurant on site, a spa fit for royalty, and rich furnishings at every glance, you'll feel like all you need is a crown to top off the perfect stay.  Elegant, stylish, and perfect, this hotel is great for those who want the best of what Chicago has to offer.</p>

<h6 class="h6-about">Mid-range</h5>

<h6 class="h6-about">Inn of Chicago</h6>
<p class="para">Located close to the Navy Pier and Magnificent Mile shopping district, this upscale contemporary hotel is a great spot to rest your head. It's modern amenities are just one of the reasons to book, but the staff are another.  
If that's not enough, the roof-top terrace will definitely seal the deal with views of the city and beyond.</p>

<h6 class="h6-about">ACME Hotel</h6>
<p class="para">If you're looking for a hip, modern place with fantastic design, ACME Hotel is right for you.  Located downtown, this hotel offers up a lot for its price. There's a bakery on the first floor, fitness room, and free wi-fi.  Everything you need to have a great stay in the Windy City.</p>

<h6 class="h6-about">Hampton Inn Majestic Theatre</h6>
<p class="para">This place may have it all.  Free hot breakfast, free wi-fi, and a 2,000 seat Broadway theatre.  For those wanting to check out the local theatre, museums, and eat your way through Chicago, This hotel has your name on it.  Located downtown with over 50 restaurants within walking distance, you may never leave.</p>

<h6 class="h6-about">Best Western Hawthorne Terrace</h6>
<p class="para">If you're coming to Chicago for a Chicago Cubs game, this is a perfect location for you.  It's one of the only hotels in the neighborhood. The beautiful Victorian style brick building offers free wi-fi, continental breakfast, fitness center, sauna, and daily newspaper.</p>

<h6 class="h6-about">Hampton Inn & Suites- Downtown Chicago</h6>
<p class="para">This location is great for both tourist and business travelers.  This hotel offers great amenities including a free hot breakfast, a 24-hour fitness room, free wi-fi and more.  Each room is equipped with a huge flat-screen TV and comfortable furnishings.  Located in the middle of the city near all the famous attractions, this is a great place for a great price.</p>

<h6 class="h6-about">Hilton Garden Inn Magnificent Mile</h6>
<p class="para">This hotel has been named best value and best kid-friendly hotel for years.  Located next to the Magnificent Mile shopping district, this hotel really stands out.  The freebies on offer here are great; cookies, fitness center, wi-fi, indoor pool and jacuzzi, and 24-hour business center. To top that off, there's a microwave and flat-screen TV in the room.  It's definitely worth staying at.</p>

<h5 class="h5-about pdng-tp30" id="attractions">Chicago's best attractions</h5>
<p class="para">Chicago is jam packed with fun places to visit, parks to explore, games to watch, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Chicago an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">Millennium Park</h6>
<p class="para">This park is located in the city center full of activity, people, and one iconic landmark; the &quot;Bean&quot; Millennium Park is the epicenter for fun in Chicago.  In the summer there are free concerts, food festivals, and local art exhibits.  With 25 acres to explore, make sure you make time in your schedule for photos, a picnic, and people watching.</p>

<h6 class="h6-about">360 Chicago</h6>
<p class="para">Formerly known as the John Hancock Observatory, this mammoth skyscraper looks like it stretches to space from ground level.  At the height of 1000 feet, the 360 Chicago experience provides the most stellar views of the city and its surroundings.  If riding an elevator to the top of the city isn't enough of you, don't worry.  The newest attraction to the skyscraper is the Tilt Experience.  Grab the handles and hold on for dear life. Part of the building tilts itself 30 degrees out of the building to leave you dangling over the edge.</p>

<h6 class="h6-about">Chicago by boat</h6>
<p class="para">There are so many boat tours on the mighty Chicago River, you will feel spoiled for choice.  Want to do a wine tasting while floating through downtown? No problem.  Want to be amongst other photography fanatics? There's a special photography boat tour just for you.  Traveling with an animal? There's a boat tour for dogs. Pick an activity and find a boat to see the magical city from the water.  You won't regret it.</p>

<h5 class="h5-about pdng-tp30" id="freeActivities">Free activities</h5>
<p class="para">Chicago is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and aquariums are just the beginning.</p>

<h6 class="h6-about">Museums</h6>
<p class="para">During the summer months, the museums of Chicago open their doors completely free for visitors on certain days.  This is a great option for those traveling with children or enjoy the arts and sciences. Some of the museums participating in free admission are the Museum of Contemporary Art, Museum of Science and Industry, and the Shedd Aquarium.  For a full list of museums check out the Chicago Tourism website.</p>

<h6 class="h6-about">Summer Concert Series</h6>
<p class="para">In Chicago's most famous and popular park, there is a free concert series that brings in thousands each year.  Located in Millennium Park, these concerts range from Afrobeat to Electric to Blues. Grab your friends, your camera, and your dancing shoes and meet up at the park for some cool tunes.</p>

<h6 class="h6-about">Taste of Chicago</h6>
<p class="para">Each year Chicago turns into a serious foodie destination where locals and tourists alike get to rub shoulders with the best restaurants in the city.  Taste a variety of cuisines, listen to incredible music, and enjoy a day (or two) of beautiful food.  This food festival started in 1980 and has been going strong ever since.  Located in Grant Park, this event is sure to be a win for everyone.</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorites</h5>
<p class="para">There are just some places in Chicago that locals find themselves visiting, recommending, and loving.  Being a true Chicago local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">Lillstreet Art Centre</h6>
<p class="para">This place is a massive display of the best local art you will find in the city, maybe even the country. This art collective is one of the best examples of teacher and students working together to create something beautiful.  Not only is their an incredible art fair, you can take art, photography, design, and pottery classes in the multiplex.  Opened for 40 years, the Lillstreet Art Center is a great place to visit to see local's working together as a community and snag a great souvenir or piece of art before you go.</p>

<h6 class="h6-about">Underground Wonder Bar</h6>
<p class="para">A great place to check out local musicians nightly, the Underground Wonder Bar is a local favorite.  Music ranges from jazz to reggae to blues to electric and there's great news for you night owls.  The bar is open until 4 am. For the artist (or child) in all of us, the bar even provides crayons on each table for you to doodle while listening to some easy tunes.</p>

<h6 class="h6-about">Grant Park</h6>
<p class="para">Grant Park is located between Lake Michigan and downtown, and is 300 acres of pure perfection.  Home to Millennium Park, the Art Institute of Chicago, and Buckingham Fountain, this park is offers any visitor an array of fun.  Over the summer months Grant Park houses special events for every interest and budget.  Free concerts, including the Grant Park Music Festival are put on for thousands in the park every year.  The park is even home to the uber famous festival, Lollapalooza.</p>

<h5 class="h5-about pdng-tp30" id="sports">Sports and more Sports</h5>
<p class="para">You can't talk about Chicago and not talk about sports.  Every local has their team, and getting to know stats and their favorite players is a great way to win over a local.  Even if you aren't a huge sports fan, visiting one of their venues is well worth it.</p>

<h6 class="h6-about">Chicago Bulls</h6>
<p class="para">The most famous basketball player of all time played for the Chicago Bulls and the city has never been the same since.  Michael Jordan revolutionized basketball for years to come, and fans still pay homage to him.  The Bulls arena is always packed, especially with Chicagoans rooting on their favorite player.  Check out the team's website for tickets and schedule so you can join the cool kids.</p>

<h6 class="h6-about">Chicago White Sox</h6>
<p class="para">Baseball fans really have it good in Chicago.  You have two teams to root for, and one of them is the Chicago White Sox.  Catch a game, eat a hotdog, grab a drink, and high-five your neighbor when the home team wins.</p>

<h6 class="h6-about">Chicago Cubs</h6>
<p class="para">The other baseball team in town, the Chicago Cubs may have the best fans.  They are so true to the team, some have bought season tickets for over 20 years!  Baseball is one of America's favorite past times, and in Chicago, it still is.  Wrigley Field is an institution in this sports crazed city, so even if you're not in town during baseball season, a tour is a must.</p>

<h6 class="h6-about">Chicago Blackhawks </h6>
<p class="para">Hockey fans rejoice! Chicago's very own Blackhawks is another sporting team that has a big fan base and packs the house night after night.  This team is a talented bunch, making it to the Stanley Cup playoffs year after year.  If you're visiting Chicago during hockey season, do yourself a favor and go to a hockey game.</p>

<h5 class="h5-about pdng-tp30" id="safety">Being Safe in Chicago</h5>
<p class="para">Chicago is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.</p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.  </p>

</div>
</div>