<div class="wrapp">
<div class="full-details">
<br />
<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Los Angeles is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Metro Tap Card. It's an all-in-one card for public transport and saves your money at the same time. You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in Los Angeles.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Los Angeles has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Los Angeles is massive.  There is a bus going somewhere at every second of the day.  With hundreds of routes, taking the bus around Los Angeles and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses, rail, and trams around the city.  To plan your trips or for more general information on bus transportation, the city's transportation website is going to be your best friend. </p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including Los Angeles.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free. </p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>

<h6 class="h6-about">Los Angeles International Airport (LAX)</h6>
<p class="para">Roughly 13 miles from Hollywood, this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares. Taxis will cost around $50 to get to downtown L.A. and surrounding areas, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times. </p> 

<h5 class="h5-about" id="history">Los Angeles's History</h5>
<p class="para">Los Angeles was founded 1781 and since then has become on of the most incredible cities in the country. The city became a mecca of culture, art and feature films.  Now decades later, the city is still known for its movies, the rich and famous, and the best nights out in the country. The city has become an epicenter of creativity, dining, fashion, and for good reason.  Los Angeles is a city that everyone feels welcome and can enjoy.</p>

<h5 class="h5-about" id="neighborhoods">Neighborhoods</h5>
<p class="para">Los Angeles is divided into 50+ neighborhoods full of fun, food, and people from all over the world.  Each area has its own unique feel and purpose, making Los Angeles feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">Venice Beach</h6>
<p class="para">Venice Beach is one of the most popular beaches in the country. Filled with rollerbladers, guys pumping iron at 'Muscle Beach,' street performers and everything in between, Venice seems to attract the free spirited. It's a great spot to catch a tan, grab some great Mexican food and chill out on one of the many patios looking out to the Pacific Ocean.</p>

<h6 class="h6-about">Santa Monica</h6>
<p class="para">Santa Monica is famous for it's Wilshire Boulevard that leads up to Beverly Hills. Santa Monica is where a lot of celebs hang out and it's not uncommon to see them around after a yoga class or grabbing their favorite coffee somewhere. It's also home to many of the movie studios like Paramount Pictures.</p>
<h6 class="h6-about">Downtown</h6>
<p class="para">Los Angeles's revamped its Arts District and is giving the other popular neighborhoods a run for their money. This historic area has become a go-to for art galleries, museums, shopping and the best dining in the city.</p>

<h6 class="h6-about">Beverly Hills</h6>
<p class="para">The rich and famous of the world live here and tourists flock to Beverly Hills each year to see if they can canoodle with them. There's also the most famous shopping street in all of the country; Rodeo Drive. Bring your credit card and shop till you drop.</p>

<h6 class="h6-about">Hollywood</h6>
<p class="para">You can't come to L.A. and not go to Hollywood. It's where you can catch the most touristy of all tours, walk the Hollywood Walk of Fame and watch movie premieres at the Chinese Theater. It's also the best place to go out at night with endless amounts of clubs and entertainment.</p>

<h5 class="h5-about" id="dining">Dining</h5>
<p class="para">Los Angeles is a great mix of cuisines, with big influences from the local Californian cuisine. With being one of the country's best dining destinations, it has developed an exciting restaurant scene.  And a scene it is. With world-class chefs, over-the-top menus, and international dining experiences, Los Angeles is well worth eating your way through. The city boasts an incredible amount of restaurants, and one of the best places to grab a meal and see a celebrity at the same time.</p>

<h6 class="h6-about">Breakfast</h6>
<h6 class="h6-about">Nick's e</h6>
<p class="para">This cafe is located just on the outskirts of Chinatown. Popular with the local cops, this diner is always busy with locals and offers staples like ham and eggs. It's train and railroad theme play homage to the railroad station close by. </p>
<h6 class="h6-about">Square One Dining</h6>
<p class="para">Located in East Hollywood, Square One Dining is for the bacon lover. Their famous bacon-infused caramel sauce is drizzled on their pancakes, making people come back for more. They also have wonderful baked eggs and incredible fruit bowls.</p>
<h6 class="h6-about">Salt's Cure</h6>
<p class="para">This Santa Monica restaurant is a popular one for breakfast. Specializing in everything local, this cafe has something for everyone. Their menu changes daily, making it a great place to visit more than once. </p>
<h6 class="h6-about">Eggslut</h6>
<p class="para">This breakfast joint started off as a food truck and quickly became so popular, they moved into a space in Downtown L.A. Their menu obviously consists of everything eggs, but their specialties are their breakfast sandwiches. Bread, croissants and spreads are all made in-house. Get there early, the line gets long quick.  </p>
<h6 class="h6-about">Huckleberry</h6>
<p class="para">This lovely place centers their breakfast items around pastries and decadent dishes. Located in Santa Monica, Huckleberry is a beautiful restaurant that is packed every day of the week.  Their take on 'Green Eggs and Ham' is their most popular, making poached eggs with pesto and prosciutto the best breakfast in town.</p>

<h6 class="h6-about">Lunch</h6>
<h6 class="h6-about">Republique</h6>
<p class="para">Republique offers up beautiful French and Italian-inspired cuisine in a casual atmosphere. Plenty of options to choose from including an incredible wine list. Free Wi-Fi is available so you can take a photo of your beautiful lunch and post it straight to social media.</p>
<h6 class="h6-about">Guisados</h6>
<p class="para">Guisados is a fantastic spot for those who are wanting a fast lunch.  These hand-crafted tacos and small plates are filled with delicious local ingredients and are hugely popular with the local and tourist crowd. Simply put; these tacos are delicious.</p>
<h6 class="h6-about">Milo and Olive</h6>
<p class="para">Located on famous Wilshire Blvd in Santa Monica, Milo and Olive offers up a menu that hits the spot for just about anyone. Open for breakfast, lunch and dinner, this popular restaurant is nice for woodfire pizzas, organic salads and pastas. </p>
<h6 class="h6-about">Night+Market</h6>
<p class="para">With two locations serving up two different-but-similar menus, Night + Market is a great lunch spot if you want to step back in time and enjoy traditional Northern Thai cuisine. Beautiful food, incredible flavor, and funky decor make this place a must for either lunch or dinner. </p>
<h6 class="h6-about">Sqirl</h6>
<p class="para">This happening breakfast and lunch cafe is full of flavor and a great place to grab a coffee too. Taking staples like salads and sandwiches and ramping them up with unique ingredients and flavors makes Sqirl the popular kid in town. They also sell their homemade jams, which in L.A. is a must-have.</p>

<h6 class="h6-about">Dinner</h6>
<h6 class="h6-about">Spago</h6>
<p class="para">The one restaurant that launched Wolfgang Puck's career, Spago is still going strong with many locations around the country. The original location in Beverly Hills is still the best and most creative. With over-the-top presentation and unbelievable flavors, Spago ranks high on everyone's list. Many go here for anniversaries and special occasions as it is a pricey one.   </p>
<h6 class="h6-about">The Ivy</h6>
<p class="para">Known as the place to spot a celebrity, The Ivy has long been a lunch and dinner hotspot for the young and rich of Hollywood. Many tourists find their way here to enjoy a great meal and the best people watching there is. The menu is heavy on seafood, pizzas, salads and meats off the grille. </p>
<h6 class="h6-about">Animal</h6>
<p class="para">Animal  is one of the best restaurants in the city. It's one of those hidden restaurants that has no sign, is always full and is constantly keeping up with the fads. The menu changes quite a bit, but mainly relies on meat-inspired dishes. The big flavors and mixes of cuisines keeps this place on every chef's top restaurant list. Book early to get in. </p>
<h6 class="h6-about">Lukshon</h6>
<p class="para">If you're in the mood for the best Asian food in L.A., Lukshon restaurant should be your next stop. A contemporary take on Asian cuisine, the dishes are beautiful and the imported tea list is impressive. Try their Lobster Roll 'Bahn Mi' to experience why everyone in L.A. recommends this place.  </p>
<h6 class="h6-about">A.O.C.</h6>
<p class="para">A.O.C. is a dream dinner spot for those who like to share. Farmer's plate, charcuterie plates, share plates, you name it, they have it. Focusing on local Californian Cuisine with a variety of veggie and meat dishes and salads, this menu is a must. Add the adorable decor and insane wine list and you have the best dinner location in all of L.A.  </p>

<h5 class="h5-about" id="accomodation">Where to stay</h5>
<p class="para">Los Angeles is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Hollywood and Beverly Hills.  </p>

<h6 class="h6-about">Luxury</h6>
<h6 class="h6-about">The Ritz-Carlton Los Angeles</h6>
<p class="para">The Ritz-Carlton Los Angeles is pure elegance. Located in the hustle and bustle of the downtown L.A., this hotel takes service to the next level.  This five-star luxury accommodation makes every guests feel at home. From the incredible spa services to skyline views, to a long list of amenities, this luxurious contemporary hotel is the best of the best. </p>

<h6 class="h6-about">Mr. C Hotel </h6>
<p class="para">This luxurious boutique hotel in a high-rise is in a perfect location to everything in Beverly Hills. Lush rooms include English-style decor with Italian marble baths. Add an iPod docks and free Wi-Fi to the mix and it's a perfect room. The list of amenities includes: a beautiful outdoor pool, personal servicemen, and a fitness center.</p>

<h6 class="h6-about">Four Seasons L.A. at Beverly Hills</h6>
<p class="para">The Four Seasons in Beverly Hills has been a landmark building since 1928. Located in the most expensive area of L.A. this hotel is perfect for those who are wanting to spend their time indulging in the city's high-fashion and retail scene. The hotel is merely steps away from Rodeo Drive. The long list of amenities available include free Wi-Fi for hotel members, in-room services, and an exquisite outdoor patio by the pool.   </p>

<h6 class="h6-about">Mid-range</h6>
<h6 class="h6-about">Hollywood Hotel</h6>
<p class="para">This amenity-rich hotel has everything you want in a hotel; free Wi-Fi, rooftop pool, free hot breakfast, premiere location in Hollywood, and professional staff to help you with anything. With 130 rooms, this hotel caters to anyone and is a great deal for the price.  </p>

<h6 class="h6-about">The Line Hotel  </h6>
<p class="para">This incredibly-decorated chic hotel may be L.A.'s most trendy. With floor-to-ceiling windows overlooking L.A. from every room, The Line Hotel offers a unique stay. All rooms are decorated and inspired by a local artist who created hand-made furnishings for the room. To say they're beautiful is an understatement. The hotel also has a restaurant, outdoor pool and incredibly close to some serious nightlife.</p>

<h6 class="h6-about">Ace Downtown Hotel</h6>
<p class="para">With a central location, the Ace Downtown L.A. Hotel is a great deal. Rooms are range from studio to large suites and include minibar, Flat screen TVs and designer toiletries. Free Wi-Fi, outdoor pool, and a massive movie theatre rounds out this historic building's offerings.   </p>

<h6 class="h6-about">Budget-Friendly</h6>
<h6 class="h6-about">Holiday Inn at LAX</h6>
<p class="para">The most centrally located budget-friendly hotel to LAX , Holiday Inn at LAX offers great amenities and one killer spot.  The hotel offers free Wi-Fi, free hot breakfast, a meeting room and a free shuttle to and from the airport. The hotel is only 15 minute drive from Marina Del Rey, offering up fantastic shopping, dining, and entertainment.</p>

<h6 class="h6-about">Ritz Milner</h6>
<p class="para">A stunning restored boutique hotel in downtown Los Angeles, The Ritz Milner looks picture-perfect. This exceptional hotel is located in a historic building, close to the Staples Center in case you're there for a concert of Lakers basketball game. Guests of the hotel can enjoy free Wi-Fi, comfortable beds, breakfast and much more. The Ritz Milner is the ultimate bargain.  </p>

<h6 class="h6-about">Holiday Inn Express South</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  Holiday Inn Express South has one of the best locations in the Los Angeles right in the heart of the Business District. Outdoor pools, special offers on attractions, free Wi-Fi and breakfast are the best of their amenities.  </p>

<h6 class="h6-about">Best Western Plus Hollywood Hills Hotel</h6>
<p class="para">Located close to all the best attractions, Best Western Hollywood Hills a great hotel for a great price right next to the action. Amenities include free Wi-Fi, free breakfast, and outdoor pool.  This hotel is perfect for those wanting to stay in the middle of the touristy environment. The hotel is close to Universal Studios and the Hollywood Walk of Fame.</p>

<h6 class="h6-about">Venice Beach Suites & Hotel</h6>
<p class="para">Located on the beach, the Venice Beach Suites & Hotel is a family-owned hotel that is ranked one of the top hotels for the price. The list of amenities is impressive, from free internet to free boogie board rentals to free local calls.  All rooms are stylishly furnished with comfortable beds and a kitchenette. If you're looking for the best bang for your buck on the beach, this hotel is your best bet.  </p>

<h6 class="h6-about">America's Best Value Inn Downtown East</h6>
<p class="para">For simple but affordable rooms in a great location, this is your place.  Simply styled, America's Best Value Inn is a small hotel with a great price tag on the eastside of downtown L.A. This hotel is located in the middle of everything; Financial District, several universities and museums, giving it the best location for the price. Free continental breakfast, Wi-Fi, HBO and in-room safes are all part of the amenities package for each room.   </p>

<h5 class="h5-about pdng-tp30" id="attractions">Los Angeles's best attractions</h5>
<p class="para">Los Angeles is jam packed with fun places to visit, neighborhoods to explore, beaches to swim at, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Los Angeles an iconic city, and keep tourists coming back for more year after year. </p>

<h6 class="h6-about">Hollywood Sign</h6>
<p class="para">Everyone wants to see the Hollywood sign once you get to L.A. Well, you can actually hike up there. Getup-close-and-personal with the sign and have your picture taken. It's also a fantastic view of downtown L.A.</p>

<h6 class="h6-about">Rodeo Drive</h6>
<p class="para">This famous road is full of high-fashion designer shops. It's also one of the most expensive streets in the world. Many come to visit to try and spot a celebrity or spend their month's salary on a new purse. Either way, this iconic road is definitely worth visiting.  </p>

<h6 class="h6-about">The Hollywood Walk of Fame</h6>
<p class="para">Being able to see the stars on the street in Hollywood is one of the biggest attractions to L.A. Many of your favorite celebrities have their own star on the Walk of Fame including Michael Jackson, Britney Spears and Frank Sinatra.</p>

<h6 class="h6-about">Disneyland</h6>
<p class="para">The mecca of fun, Disneyland has made a name for itself over the years as a place to go for all ages. Now that they have Californialand added to the mix, there's amusement, shows, and entertainment for the adults who want to meet Mickey too. </p>

<h5 class="h5-about" id="freeActivities">Free activities</h5>
<p class="para">Los Angeles is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and dancing are just the beginning.    </p>

<h6 class="h6-about">Venice Beach</h6>
<p class="para">Venice Beach is a people-watching dream. With shops, restaurants, street performers and a beautiful promenade, it's easy to see why Venice Beach is such a big attraction. It's also home to 'Muscle Beach' where you can workout on the beach.   </p>

<h6 class="h6-about">Hike Runyon Canyon</h6>
<p class="para">If you're looking to get some exercise in on your trip, hike Runyon Canyon for one of the best views of L.A. You might even spot a celebrity or two!     </p> 

<h6 class="h6-about">Catch a movie premiere</h6>
<p class="para">L.A. is the biggest film premiere destination in the world. There's a movie opening up almost every weekend of the year. It's free to go and watch the celebs walk the red carpet and snap a photo. It's a fun experience you won't find anywhere else.    </p> 

<h5 class="h5-about" id="mustsee">Local's favorites</h5>
<p class="para">There are just some places in Los Angeles that locals find themselves visiting, recommending, and loving.  Being a true local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">Malibu</h6>
<p class="para">Los Angeles locals love to go out and enjoy a day on the beach. Malibu is known to be the place for locals to work on their tans while enjoying a BBQ at their beach houses. They have a right to love Malibu. The white sand beach is beautiful and the weather is always perfect. </p>

<h6 class="h6-about">Shopping at the Grove</h6>
<p class="para">Shopping at the Grove is an experience for everyone. Not only are there 100's of stores to shop from, but there's always entertainment-concerts, live music and even live shows are being filmed there.   </p>

<h5 class="h5-about" id="safety">Being Safe in Los Angeles</h5>
<p class="para">Los Angeles is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.       </p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost. </P>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.     </p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.   </p>

</div>
</div>