<div class="container" >
<div class="about-des">
<h3>Los Angeles City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('mustsee')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Los Angeles is a traveler's dream destination. Situated on the Pacific Ocean with miles of beach to enjoy, L.A. is one of the most popular vacation spots in the world. With rich history, incredible nightlife, and international influences, Los Angeles is a popular destination for many domestic and international tourists.  With millions visiting year round, the city has to constantly reinvent itself with fun and fresh events, attractions and restaurants.  But don't worry, Los Angeles is the place to enjoy the beach and sun during the day, and some of the best restaurants in the country during the night. Whether you're visiting for business or leisure, this city will charm any visitor.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Plan a Trip to Los Angeles, book a best hotel in your Budget</h2>
</div>
