<div class="container" >
<div class="about-des">
<h3>New Orleans City  Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('mustsee')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>New Orleans is a traveler's dream destination. Situated on the Gulf of Mexico, this colorful and cultural city is buzzing with activity any day of the week.  With rich history, incredible nightlife, and international influences, New Orleans is a popular holiday destination for many domestic and international tourists.  With millions visiting year round, the city has to constantly reinvent itself with fun and fresh events, attractions and restaurants.  But don't worry, New Orleans is the place to enjoy food and drink during the day, and jazz music during the night away at one of the many jazz clubs. Whether you're visiting for business or leisure, this city will charm any visitor.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Find New Orleans Best Hotel Deals & Discounts Online</h2>
</div>