<div class="wrapp">
<div class="full-details">
<br />
<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around New Orleans is a lot easier than you think. If you’re planning on using public transportation for the majority of your trip, check out the Jazzy Card. It’s an all-in-one card for public transport and saves your money at the same time. You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in New Orleans.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, New Orleans has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in New Orleans is massive.  There is a bus going somewhere at every second of the day.  With hundreds of routes, taking the bus around New Orleans and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses, rail, and trams around the city.  To plan your trips or for more general information on bus transportation, the city’s transportation website is going to be your best friend.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including New Orleans.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>

<h6 class="h6-about">Louis Armstrong International Airport (MSY)</h6>
<p class="para">Roughly 16 miles from New Orleans, this airport is fully connected with a variety of transportation options for you. Visit the airport’s website for times and fares.  Taxis will cost around $36 to get to the city and surrounding areas, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times.</p> 

<h5 class="h5-about" id="history">New Orleans’s History</h5>
<p class="para">New Orleans was founded by the French in 1718 and was purchased by the U.S. in the Louisiana Purchase in 1803 and since then has become on of the most important port cities in the country. The city became a mecca of French culture, art and architecture.  Now decades later, the city is known for its jazzy blues, fried donuts called Beignets, and colonial-inspired buildings. The city has become an epicenter of jazz music, dancing, Carnivale and history, and for good reason.  New Orleans is a city that everyone feels welcome and can enjoy.</p>

<h5 class="h5-about" id="neighborhoods">Neighborhoods</h5>
<p class="para">New Orleans is divided into 70+ neighborhoods full of fun, food, and people from all over the world.  Each area has its own unique feel and purpose, making New Orleans feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">The French Quarter</h6>
<p class="para">The French Quarter, the most popular neighborhood in the city, is known for it’s charm and French influence, hence the name. It’s unique and small setting invites all guests in and is one of the most vibrant areas of New Orleans. A big area for eating, listening to jazz and partying during Mardi Gras.</p>

<h6 class="h6-about">The Garden District, Uptown & Carrollton</h6>
<p class="para">The Garden District is a rich community where many of the homes date back to the late 1800’s. Some of the houses are still named after the owners and are some of the most established and beautiful homes in the country. It’s a great neighborhood to step back in time and enjoy the large plantation homes of the South.<br><br>
The Uptown District is a residential wonderland. It’s like stepping into another world with small-scale boutique shops and restaurants and 18th century mansions.<br><br>
Carrollton is home to Tulane and Loyola Universities, making this area of the city a big college town.  Although it is a resort-like rural location, this neighborhood is laid-back and friendly.
</p>
<h6 class="h6-about">Arts District</h6>
<p class="para">New Orleans’s revamped its Arts District and is giving the other popular neighborhoods a run for their money. This historic area has become a go-to for art galleries, museums, shopping and the best dining in the city.</p>

<h6 class="h6-about">Faubourg Marigny & Bywater</h6>
<p class="para">The Faubourg Marigny is the place to mix the city’s rich history with its rich food. Faubourg Marigny is the best place in New Orleans to get Cajun-Creole food and people watch. It’s home to many artists and the historic charm to the neighborhood make this a very popular destination.<br><br>
The Bywater is where the young and trendy live and hang out. The residents bring out an artsy vibe here and the area is filled with brightly colored houses.</p>

<h5 class="h5-about" id="dining">Dining</h5>
<p class="para">New Orleans is a great mix of cuisines, with big influences from the South and France. With being one of the country’s oldest dining destinations, it has developed an exciting restaurant scene.  And a scene it is.  With world-class chefs, over-the-top menus, and international dining experiences, New Orleans is well worth eating your way through.  The city boasts an incredible amount of restaurants, and one of the best places to grab a Po Boy sandwich, Gumbo or Jambalaya in the world.</p>

<h6 class="h6-about">Breakfast</h6>
<h6 class="h6-about">Surrey’s Café & Juice Bar</h6>
<p class="para">This café is funky and eclectic, just like their menu. Popular items include Shrimp & Grits, Crabmeat Omelette, and Bananas Foster French Toast. With multiple locations, this breakfast joint is incredibly busy.</p>
<h6 class="h6-about">Albertine's Tea Room</h6>
<p class="para">Located inside The Columns Hotel, this Tea Room offers beautiful breakfast options in a beautiful setting. The hotel was built in 1883 and is on the list of Historic Places in New Orleans. In the Garden District, this is a must, especially if you’re staying at the hotel.</p>
<h6 class="h6-about">Another Broken Egg Cafe</h6>
<p class="para">This chain of restaurants is a popular one for breakfast. Specializing in omelettes, benedicts and grits, this café has something for everyone. Try their homemade Biscuit Beignets for a real taste of New Orleans. </p>
<h6 class="h6-about">Anita's</h6>
<p class="para">This minimal menu consists of breakfast staples like Chicken and Waffles, omelettes, hashbrowns and grits. It’s a home-cookin’ type of place that is small and is cash only. A great local, but be warned; they are popular and it’s not uncommon to wait an hour.  oatmeal and omelettes.  </p>
<h6 class="h6-about">Antoine's Annex</h6>
<p class="para">This lovely place centers their breakfast items around pastries and breakfast sandwiches and relies heavily on their coffee. A great place to grab something on the go or you just need to have something small to tide you over. They do have other breakfast items such as eggs and grits as well if you want to stay in.</p>

<h6 class="h6-about">Lunch</h6>
<h6 class="h6-about">1000 Figs</h6>
<p class="para">1000 Figs offers up beautiful Middle Eastern cuisine in a casual atmosphere. Plenty of vegetarian options here. Salads, sandwiches and falafel are the winners here. Closed on Mondays. </p>
<h6 class="h6-about">13 Monaghan</h6>
<p class="para">13 Monaghan is a fantastic spot for those who are wanting a fast lunch.  These hand-crafted deli sandwiches and wraps are filled with delicious local ingredients and are hugely popular with the local and tourist crowd downtown. Simply put; these sandwiches are delicious.</p>
<h6 class="h6-about">5 Fifty 5</h6>
<p class="para">Located in the Marriott Hotel on Canal Street, 5 Fifty 5 offers up a menu from an Urban Louisiana Kitchen. Open for breakfast, lunch and dinner, this popular restaurant is nice for hotel guests and other passerby’s. Favorites include salads, wood-fired pizzas and hand-crafted specialty sandwiches.</p>
<h6 class="h6-about">The American Sector</h6>
<p class="para">Located in the Arts District, The American Sector is a great lunch spot if you want to step back in time and enjoy traditional American cuisine. Huge portions, mouth-watering hotdogs, milkshakes, burgers and more are the norm here. Check out the vintage décor too.</p>
<h6 class="h6-about">8 Block Kitchen & Bar</h6>
<p class="para">Located in the Central Business District, 8 Block Kitchen & Bar has a local menu with seasonal specials. Add a dash of New Orleans cuisine in to the mix, and you have a very busy breakfast and lunch hotspot. Located in the Hyatt Regency, this place is well worth the visit. </p>

<h6 class="h6-about">Dinner</h6>
<h6 class="h6-about">Abita Brew Pub</h6>
<p class="para">The ambiance is half the fun at Abita Brew Pub. Abita is located just down the street from its actual brewery, but keeps the tourists and locals happy with freshly-brewed beers and delicious food. Great for lunch or dinner. </p>
<h6 class="h6-about">Acme Oyster and Seafood House</h6>
<p class="para">You can’t go to New Orleans and miss out on their incredible seafood scene. Acme Oyster and Seafood House is where it’s at. You can get traditional New Orleans specialties like Red Beans & Rice or Jambalaya here, but the oysters and other seafood are the best in town.</p>
<h6 class="h6-about">Annunciation Restaurant</h6>
<p class="para">Annunciation Restaurant is one of the best restaurants in the city. With a romantic and rustic feel, this restaurant has a menu that will not displease. Using local ingredients for their incredible Southern-Creole cuisine, it’s not wonder they are always busy. Get the Fried Oysters. </p>
<h6 class="h6-about">Zoe</h6>
<p class="para">If you’re in the mood to dress up a bit, Zoe restaurant should be on your list. A contemporary take on Cajun-Creole cuisine, the dishes are beautiful and so are the hand-crafted cocktails. Located in the business district, it’s easy to find. </p>
<h6 class="h6-about">Voodoo BBQ</h6>
<p class="para">Voodoo BBQ a laid-back dinner spot. Specializing in Southern BBQ, this popular restaurant is simple and delicious. Keeping it easy with counter service, this BBQ joint serves up brisket, pulled pork, and southern greens among other BBQ staples.  </p>

<h5 class="h5-about" id="accomodation">Where to stay</h5>
<p class="para">New Orleans is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like French Quarter and Bourbon Street. </p>

<h6 class="h6-about">Luxury</h6>
<h6 class="h6-about">The Ritz-Carlton New Orleans</h6>
<p class="para">The Ritz-Carlton New Orleans is pure elegance. Located in the hustle and bustle of the French Quarter, this hotel takes service to the next level.  This five-star luxury accommodation makes every guests feel at home. From the incredible spa services to breakfast in bed, to a long list of amenities, this luxurious French-inspired hotel is the best of the best.</p>

<h6 class="h6-about">Windsor Court Hotel </h6>
<p class="para">This European-styled hotel in a high-rise is in a perfect location to everything. Lush rooms include English-style decor with Italian marble baths. Add an iPod docks and free Wi-Fi to the mix and it’s a perfect room. The list of amenities includes: a business center, rooftop pool, and fitness center.</p>

<h6 class="h6-about">Soniat House</h6>
<p class="para">The Soniat House is made up of three French-style Colonial Cottages that are as charming as they sound. Located in between the French Quarter and Bourbon Street, this hotel is perfect for those who are wanting to spend their time indulging in the city’s culture and retail scene. The hotel is merely steps away from the French Market. The long list of amenities available include free Wi-Fi for hotel members, in-room services, and exquisite outdoor patios.  </p>

<h6 class="h6-about">Mid-range</h6>
<h6 class="h6-about">InterContinental New Orleans</h6>
<p class="para">This amenity-rich hotel has everything you want in a hotel; free Wi-Fi, rooftop pool, several dining options, premiere location, and a coffee shop. With over 450 rooms, this massive hotel caters to anyone and is a great deal for the price.</p>

<h6 class="h6-about">Le Pavilion Hotel  </h6>
<p class="para">This French-inspired hotel has all the amenities without the high price tag. Located in the Central Business District, the Le Pavilion Hotel has in-room childcare, free Wi-Fi, rooftop terrace and outdoor pool.</p>

<h6 class="h6-about">Loews New Orleans Hotel</h6>
<p class="para">With a central location, the Loews New Orleans Hotel is a great deal. Rooms are large and include minibar, bathrobes and designer toiletries. Free Wi-Fi, indoor pool, and a full-service spa rounds out the services.   </p>

<h6 class="h6-about">Budget-Friendly</h6>
<h6 class="h6-about">The Whitney Hotel</h6>
<p class="para">The most centrally located budget-friendly hotel, The Whitney Hotel offers great amenities and one killer spot.  The hotel offers free Wi-Fi, breakfast, a meeting room and a restaurant/bar lounge. Outside of the hotel is the famous French Quarter and Bourbon Street, offering up the best shopping, dining, and entertainment the city has to offer.</p>

<h6 class="h6-about">Lafayette Hotel</h6>
<p class="para">A stunning hotel in New Orleans, The Lafayette Hotel looks picture-perfect, located in Lafayette Square. This exceptional hotel is decorated with a French flair, creating a comfortable and relaxing atmosphere. Guests of the hotel can enjoy free Wi-Fi, comfortable beds, breakfast and much more. The Lafayette Hotel is the ultimate bargain. </p>

<h6 class="h6-about">La Quinta Inn & Suites Downtown</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  La Quinta Inn & Suites Downtown  has one of the best locations in the New Orleans right in the heart of the Business District. Outdoor pools, fitness center, free Wi-Fi and breakfast are the best of their amenities. </p>

<h6 class="h6-about">International House</h6>
<p class="para">Located close to Jackson Square, International House offers a great hotel for a great price right next to the action. Amenities include free Wi-Fi, free breakfast, and flat-screen TVs.  This hotel is perfect for those wanting to stay in the middle of the touristy environment. The hotel even includes a nightclub and bar/lounge for your nightly nightcaps.</p>

<h6 class="h6-about">Hampton Inn & Suites-Downtown</h6>
<p class="para">Located in the Business District, the Hampton Inn & Suites Downtown is a budget-friendly hotel that is ranked one of the top hotels for the price. The list of amenities is impressive, from free internet to free hot breakfast to free local calls.  All rooms are stylishly furnished with comfortable beds. If you’re looking for the best bang for your buck, this hotel is your best bet. </p>

<h6 class="h6-about">Royal St. Charles Hotel</h6>
<p class="para">For simple but affordable rooms in a great location, this is your place.  Beautifully styled, the Royal St. Charles Hotel creates an elegant and simplistic element to your stay. This hotel is located in the middle of everything; French Quarter, the buzzing and exciting neighborhood right by Bourbon Street, giving it the best location for the price. Comfortable beds, hair dryers, air-conditioning and in-room safes are all part of the amenities package for each room.  It’s safe to say, this place really knows how to take care of their guests. </p>

<h5 class="h5-about pdng-tp30" id="attractions">New Orleans’s best attractions</h5>
<p class="para">New Orleans is jam packed with fun places to visit, neighborhoods to explore, festivals to join, and people to see.  But there are some places in the city that you shouldn’t leave without seeing.  These are what make New Orleans an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">French Quarter</h6>
<p class="para">One of the most unique attractions, the French Quarter is fun for everyone. Snap photos of the gorgeous architecture, fill up on Cajun-Creole cuisine and dance the night away to the local Jazz scene.</p>

<h6 class="h6-about">1850 House</h6>
<p class="para">Faithfully furnished with domestic goods, decorative arts and art of the period, the 1850 House depicts middle class family life during the most prosperous period in New Orleans' history. </p>

<h6 class="h6-about">French Market</h6>
<p class="para">Founded in 1791, New Orleans’ French Market is the oldest public market in the country. This open-air mall features shopping, dining and music in a tradition that is uniquely New Orleans, yet still reminiscent of some European markets.</p>

<h5 class="h5-about" id="freeActivities">Free activities</h5>
<p class="para">New Orleans is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and dancing are just the beginning.  </p>

<h6 class="h6-about">Hit the Art Galleries in the Arts District</h6>
<p class="para">Possibly the best thing about the city is the arts & culture.  Peruse the local and international art galleries and window shop at nearby boutique shops. Many galleries have nightly events so it’s good to plan ahead and snag an invite to a gallery for free drinks, music and finger foods. </p>

<h6 class="h6-about">French Quarter Festival</h6>
<p class="para">Held in April, the French Quarter Festival is a free music festival full of jazz, blues and other world-class musicians. Known as the largest free festival in the country, it’s well worth checking out one of the events.  </p> 

<h5 class="h5-about" id="mustsee">Local's favorites</h5>
<p class="para">There are just some places in New Orleans that locals find themselves visiting, recommending, and loving.  Being a true local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">City Park</h6>
<p class="para">New Orleans locals love to go out and enjoy a day in the park. City Park is one of the most beautifully landscaped large park in the U.S. The park includes an amusement park, bike paths, lawns for concerts and much more. If you want a day to relax, this park is your best friend. </p>

<h6 class="h6-about">Catch an outdoor film at the Burgundy Picture House</h6>
<p class="para">One of the coolest things to do in New Orleans is to catch a free outdoor movie at the Burgundy Picture House. Many of the films are independent but sometimes they show feature films. Beers are only $1 or you can bring your own.  </p>

<h5 class="h5-about" id="safety">Being Safe in New Orleans</h5>
<p class="para">New Orleans is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it’s easy to think you can get caught up in the mix of trouble when you have no idea where you’re going, what part of town you’re in, and don’t know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.    </p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you’re not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost. </P>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who’s being careful and who’s not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you’re at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.   </p>

<h6 class="h6-about">Don’t go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you’re traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you’re going and do not want to be bothered.   </p>

</div>
</div>