<div class="container" >
<div class="about-des">
<h3>New York City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('FiveBoroughs')">Five Boroughs</a> | <a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('accommodation')">Accommodations</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('mustSee')">Must See</a> | <a href="" ng-click="scrollTo('shopping')">Shopping</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>New York City.  The Big Apple.  The city that never sleeps.  Whatever you decide to call it, New York has been dazzling its visitors since the day it was founded.  Home to 11 million people and counting, this diverse city has got it all.  From Broadway to Central Park, New York is a dream come true for anyone who visits. In a town that never says goodnight, there are endless opportunities to see the city for what it really is; a cultural melting pot of endless possibility.</p>
</div>

<h5 class="h5-about pdng-tp30" id="FiveBoroughs">The Five Boroughs</h5>
<p class="para">New York is made up of five boroughs that define New York City as the biggest mixture of cultures on the planet.  Within these five areas, there are so many groups of people from every race and religion around the world. That is just one of the many reasons that makes New York so special. Each borough has its own style, traditions, and culture that makes them unique and completely worth visiting.</p><br />

</div>
<div align="center">
<h2 class="h2-top">Book a Best Hotel in New York City</h2>
</div>
