<div class="wrapp">
<div class="full-details">
<br />

<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Orlando is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Easy Card. It's an all-in-one card for public transport and saves your money at the same time. You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>
<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in Orlando.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Orlando has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Orlando is massive.  There is a bus going somewhere at every second of the day.  With thousands of routes, taking the bus around Orlando and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses and rail around the city.  To plan your trips or for more general information on bus transportation, the city's transportation website is going to be your best friend.</p>

<h6 class="h6-about">Car Rental</h6>
<p class="para">This is by far the most popular option, with many families heading out of the city center of Orlando and on to the theme parks. Rental cars are easiest to find at the airport and can range from $15-200 depending on the style and size of car you want. Check out the airport's website for the best rental car options.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including Orlando.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>
<h6 class="h6-about">Orlando International Airport (MCO)</h6>
<p class="para">Roughly six miles from Orlando, this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares.  Taxis will cost around $20-60 to get to the city and surrounding areas, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times.</p>

<h5 class="h5-about pdng-tp30" id="history">Orlando's History</h5>
<p class="para">Orlando was founded as a city in 1875 and since then has become on of the most visited cities in the country. The city became a mecca of holiday houses, conventions and theme parks in no time. Now decades later, the city is still known for its vacation-inspired location and Mickey Mouse. The city has become an epicenter of fun, sun, conventions, and relaxation, and for good reason.  Orlando is a city that everyone feels like a kid again.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">Orlando is divided into 20 + neighborhoods full of fun, food, and people from all over the world.  Each area has its own unique feel and purpose, making Orlando feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown Orlando is a mixed bag of business, arts, and tourist attractions. It's a great area to see a music show, check out a few museums and shop at the big department stores or enjoy the plethora of dining and nightlife options.</p>

<h6 class="h6-about">College Park</h6>
<p class="para">By far the most popular area of the city, College Park is the ultimate neighborhood. With lakes, local boutiques, a variety of dining options, and famous nightlife, it's a fun place to play tourist during the day or night.</p>

<h6 class="h6-about">Altamonte Springs</h6>
<p class="para">Altamonte Springs is a busy spot in the city with famous malls and a beautiful lake in the center of it all. Cranes Roost Park is the cultural epicenter of the neighborhood offering festivals, events and family-friendly shows all year.  This is a great place to visit if you're looking to do a little shopping.</p>

<h6 class="h6-about">Baldwin Park</h6>
<p class="para">Baldwin Park is great for outdoor enthusiasts who like to sweat. Filled with tennis courts, miles of paved paths for bikers, runners and walkers, this neighborhood is a popular with local residents.  It's also considered a foodie heaven, so bring your appetite.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">Orlando is a great mix of cuisines, with big influences from Latin America. With being one of the country's most-visited dining destinations, it has developed an exciting restaurant scene.  And a scene it is.  With world-class chefs, over-the-top menus, and international dining experiences, Orlando is well worth eating your way through.  The city boasts an incredible amount of restaurants, and one of the best places to enjoy international cuisines.</p>

<h6 class="h6-about">Breakfast</h6>

<h6 class="h6-about">Keke's Breakfast Café </h6>
<p class="para">This café is centrally located southwest of downtown and is a popular hotspot for breakfast. If you're in the mood for great American-style breakfast food for a great price, Keke's Breakfast Café is your spot. Popular items include their selections of Belgian Waffles and Stuffed French Toast.</p>

<h6 class="h6-about">Christo's Cafe</h6>
<p class="para">Located in the center of Orlando, this café¡©s a must for simple but big meals. One of the highest rated breakfast joints, Christo's Café¡¯ffers a traditional diner-style breakfast.  Their menu is more egg focused with hearty dishes like their Biscuits & Gravy, a popular local must.</p>

<h6 class="h6-about">White Wolf Cafe</h6>
<p class="para">Another local favorite, White Wolf Cafe is always busy. Highly rated, locally loved, and worshipped by tourists, this breakfast joint isn't going anywhere anytime soon.  Just make sure you get there early, as the line gets long really quick. Snag a table and order one of their famous jumbo homemade cinnamon rolls before they sell out.</p>

<h6 class="h6-about">1900 Park Fare</h6>
<p class="para">If you're going to be in Disney World, you have to dine with the characters at least once! Why not make it breakfast? At 1900 Park Fare, you have the chance to have breakfast with some of the Disney characters including Tigger and Winnie the Pooh. Located in the Grand Floridian Resort & Spa, the buffet-style breakfast is well worth the show alone.</p>

<h6 class="h6-about">Kona Cafe</h6>
<p class="para">One of the most popular dining establishments in all of the Kingdom, Kona Café¡°uts a twist on the traditional breakfast menu. With stuffed French Toast, Asian-inspired dishes and macadamia topped pancakes, this spot is well worth the visit. Not to mention you will be dining in a beautiful Polynesian hut-like house.</p>

<h6 class="h6-about">Universal's Superstar Character Breakfast </h6>
<p class="para">Depending on the time of the year, characters from Universal movies join you for breakfast at a variety of venues. Snap a photo, get an autograph and enjoy a buffet breakfast with your favorite characters from movies like Despicable Me. Make a reservation in advance to make sure you get a spot.</p>

<h6 class="h6-about">Lunch</h6>

<h6 class="h6-about">Be Our Guest Restaurant</h6>
<p class="para">Taken from Disney's Beauty and the Beast, Be Our Guest is a French-themed dining option for those who want to try something a little different. Staples here are the French Onion Soup, Croque Monsieur, and Tuna Nicoise Salad. The menu may be limited but the ambience is far from it. Located in the Beast's castle, the impressive restaurant is exquisite with high ceilings and big chandeliers.</p>

<h6 class="h6-about">50's Prime Time Cafe</h6>
<p class="para">Take a step back in time at the 50's Prime Time Café Another themed restaurant at Disney World offers traditional American comfort food in a diner-style atmosphere. Fried Chicken, Pot Roast, and Meatloaf are popular options here.</p>

<h6 class="h6-about">Apple Spice Bakery</h6>
<p class="para">This popular chain pumps out freshly-baked loaves of bread for their delicious sandwiches. Also a catering service, Apple Spice is a great option if you want something on the go as they offer 'Lunch Boxes' that includes a sandwich and your option of chips or a salad. Fresh garden salads are also available.</p>

<h6 class="h6-about">Al's State Street Cafe</h6>
<p class="para">This no-gimmick sandwich shop pumps out hundreds of sandwiches a day using fresh and local ingredients.  A local chain, this lunch spot is great if you're in the mood for hearty sandwiches, or need something on the go.  Portions are big, so keep that in mind.  You can even or a bag lunch which includes a sandwich, soda and bag of chips for $8.50. If you're on a budget, this is your place.</p>

<h6 class="h6-about">Citrus Orlando</h6>
<p class="para">Named one of the best places for a &quot;Power Lunch,&quot; Citrus Orlando is a hotspot for the business-type. With a local inspired menu, the restaurant focuses on the fresh, citrus flavors known in the area. Salad, sandwiches, and small plates are popular here, as well as a sneaky cocktail or two.</p>

<h6 class="h6-about">Emeril's </h6>
<p class="para">If you're in the mood for fresh seafood, Emeril's is a fantastic spot. With favorites like the Shrimp & Grits or the Shrimp Ceviche Taco, the famous chef brings bold flavors and pairs it with delicate seafood. Oven-fired pizzas, burgers and a variety of appetizers are also available. Located in Universal's City Walk, this is a very popular spot to dine for lunch or dinner.</p>

<h6 class="h6-about" >Dinner</h6>

<h6 class="h6-about">Victoria & Albert's </h6>
<p class="para">The highest-rated fine-dining restaurant in the entire Disney park is Victoria & Albert's. With imported delicacies like truffles from Italy and beef from Japan, it's no wonder this restaurant sits high above everyone else.  Dining options include normal sitting in the restaurant and the uber-inclusive Chef's table in the kitchen. Each dish that comes out looks like art and is hand-crafted to perfection for each guest. If you want to celebrate something special, this is your place.</p>

<h6 class="h6-about">Hot Krust </h6>
<p class="para">The name doesn't leave much to love, but the food makes up for the interesting name. At Hot Krust, all meats are freshly roasted in-house and served on their homemade Tuscany Bread.  Paninis are their specialty, including their famous Burgerini, a Ý pound burger on Panini Bread. This is a great spot if you want an early dinner or to take it to go.</p>

<h6 class="h6-about">NYPD Pizza</h6>
<p class="para">If you're hungry for pizza, NYPD Pizza should be your first option. With multiple locations around the city and the option to order online, this authentic NY pizza joint is very popular with the locals.  Offering a long list of '°ies,' salads, sides and more, this is a great option for families or picky eaters.</p>

<h6 class="h6-about">Biergarten Restaurant</h6>
<p class="para">German-themed, the Biergarten Restaurant in Disney World is fun for the whole family. If you plan your trip right, the restaurant joins the festivities of Oktoberfest in Germany and celebrates the festival throughout September and October with music, dancing, and a lot of beer! Dinner is served buffet-style with traditional German foods like Bratwurst, Pork Schnitzel and a variety of salads. For dessert save room for their handmade Apple Strudel. To finish the night off, join the staff on the dance floor for some traditional Bavarian dancing.</p>

<h6 class="h6-about">Captain's Grille</h6>
<p class="para">Located in Disney's Yacht Club Resort, Captain's Grille is an old New England Yacht-themed restaurant that offers up a beautiful seafood buffet of crab legs, scallops and even NY Strip. Kid-friendly menus are also available with meat and seafood skewers. The inside of the restaurant is decorated like the inside of a boat with portholes and anchors, all that's missing is a pirate or two.</p>

<h6 class="h6-about">Disney's Spirit of Aloha Dinner Show</h6>
<p class="para">More than just a traditional Polynesian Luau buffet, this dinner and a show is all about the performance! Join Aunt Wini as she hosts a luau for a local girl on the island who's moving away for college. This live show incorporates fire-knife performers, dancers, and drummers. Located in an open-air venue, it's like you're on an actual Hawaiian island. Pair it with pulled pork, roasted chicken and fresh salads to graze over at the buffet and you have yourself a night to remember.</p>

<h6 class="h6-about">Three Broomsticks</h6>
<p class="para">Harry Potter fans will rejoice at this dining option at Universal Studios. The Three Broomsticks offers up quick service English fare like fish & chips, shepherd's pie and turkey legs. Save room for dessert though as they serve the infamous chocolate trifle. Decorated like a rustic tavern, Three Broomsticks is fun for everyone.</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Where to stay</h5>
<p class="para">Orlando is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Universal Studios and Disney World.</p>

<h6 class="h6-about">Luxury</h6>

<h6 class="h6-about">Ritz-Carlton-Grande Lakes</h6>
<p class="para">The Ritz-Carlton in Grande Lakes is pure elegance. Located on 500 acres and close to Universal Orlando, this hotel is massive.  This five-star luxury accommodation makes every guests feel at home. From the incredible outdoor activities like a full 18-hole golf course to a spa that provides over 40 services, to breakfast in bed, this luxurious hotel is the best of the best.</p>
		
<h6 class="h6-about">Grand Bohemian Hotel, Autograph Collection</h6>
<p class="para">This hotel is first-class all the way. Located in the center of Orlando, the Grand Bohemian Hotel takes sophisticated inspiration and mixes it with lavish luxury.  For art lovers, this hotel is for you. The hotel boasts an art gallery that houses over 150 pieces. The rooms are traditionally furnished with the highest quality. Enjoy the rooftop pool and hot tub as you watch the sun set over the horizon, or head to the lobby to listen to a live pianist perform for the guests. With elegance and top-notch amenities at your fingertips, youÓ¬l never leave the hotel.</p>

<h6 class="h6-about">Disney's Animal Kingdom Villas- Kidani Village</h6>
<p class="para">As if you're staying on safari in Africa, this hotel transports you straight to an African wildlife park. Rooms include breathtaking views of the savannahs filled with 30 different species of wildlife, lush African artifacts, rustic furnishings and thatched roofs. This ultimate animal experience gets better in the hotter months when you're able to watch movies under the stars outside by one of the hotel's pools.</p>

<h6 class="h6-about">Loews Portofino Bay Hotel</h6>
<p class="para">Plucked straight from Italy, Loews Portofino Bay Hotel is not to be missed. With cobblestone streets, high-fashion shopping, wine bars, authentic Italian eateries and a harbor so beautiful youÓ¤ think you're really in Italy, this luxury hotel really goes all out. Movie nights at the pool, ping pong tournaments and live music make this hotel a dream come true for everyone in the family. Staying here has its perks too. Each person gets a free Universal Express Unlimited ride access pass, allowing them to skip the long lines! That's worth the high price of a room alone.</p>

<h6 class="h6-about">Mid-range</h6>

<h6 class="h6-about">Drury Inn & Suites</h6>
<p class="para">This hotel stands out from the rest of the mid-range hotels in Orlando.  Drury Inn & Suites is a great spot to rest your head in the heart of the theme park action, steps away from the hustle and bustle of Universal Studios. With free Wi-Fi, free shuttles to the theme parks and a 24-hr front desk, this hotel is one of the best options for the price.</p>

<h6 class="h6-about">Staybridge Suites Orlando </h6>
<p class="para">Located only a mile from Disney World, Staybridge Suites offers one and two bedroom suites. With free Wi-Fi, free breakfast, free parking and a free shuttle to Walt Disney World, you may never actually never leave. The Staybridge Suites brings service and class to Orlando without the high price tag. After a day at the theme parks, relax and enjoy another free feature; a happy hour mixer with drinks and food.</p>

<h6 class="h6-about">Hilton Orlando Lake Buena Vista</h6>
<p class="para">The Hilton pairs sophistication and affordability to give each guest a memorable stay. In Downtown Disney, the hotel offers free Wi-Fi and is located mere minutes from Walt Disney World. The long list of amenities includes business services, babysitting, foreign money exchange, 24-hour fitness center, Disney character breakfast, and much more. The best amenity of all is the privilege to stay in the Disney parks an hour after the park closes to the public.</p>

<h6 class="h6-about">Double Tree Lake Buena Vista</h6>
<p class="para">The only all-suite hotel in the Disney World park, Double Tree offers one and two bedroom suites at a fraction of the price. Free Wi-Fi, free shuttles to the parks, free children's activities and a relaxing pool area make this hotel a great option. Located inside the Disney World quarters, yet far enough away from the large crowds, this hotel is very popular with families and those who want luxury and relaxation after spending their days full of excitement and attractions.</p>

<h6 class="h6-about">The Copley Square Hotel</h6>
<p class="para">Going to a baseball game at Fenway Park? This hotel is a great spot for you to rest your head.  There's also a lot of history involved in the iconic building built back in the 1800's.  The Copley Square Hotel is the second-oldest operating hotel in the country, and remains a famous landmark to the locals and tourist alike.  Free internet, coffee, cheap breakfast buffet and a complimentary wine service nightly, this hotel really gives you the best bang for your buck in the city.</p>

<h6 class="h6-about">Hyatt Place</h6>
<p class="para">Modern and contemporary, the Hyatt Place is a great mid-range hotel that offers the basics of a hotel, but the service of a resort. Free Wi-Fi, fitness and business center, free hot breakfast and comfortable pillow-top mattresses keep this hotel busy all-year round. Located 20 minutes from the Disney World, Hyatt Place is a great hotel to come back to after walking miles around the theme parks.</p>

<h6 class="h6-about">Holiday Inn Hotel & Suites</h6>
<p class="para">Located across the street from Universal Studios, this prime location hotel has everything you need to enjoy your stay. One of the standout features of this place is that it's pet-friendly.  Popular with conventions, the business center is open 24/7 for any business needs. Also included are a fitness center, pool, free parking and kids eat free.</p>

<h6 class="h6-about">Budget-Friendly</h6>

<h6 class="h6-about">Rosen Inn at Pointe Orlando</h6>
<p class="para">A centrally located budget-friendly hotel, Rose Inn at Pointe Orlando offers great amenities for a cheap price.  The hotel offers free Wi-Fi, a breakfast buffet, coffee, and a mini market for any of your needs. Outside of the hotel is the famous International Drive, offering up the best shopping, dining, and entertainment the city has to offer outside of the major theme parks.</p>

<h6 class="h6-about">Fairfield Inn & Suites </h6>
<p class="para">Located near the Universal Orlando Resort, Fairfield Inn & Suites is a great option. Key amenities include free Wi-Fi, free breakfast, fitness center and an outdoor pool. For those going to the theme park, the hotel offers free shuttles to the attractions.</p>

<h6 class="h6-about">Springhill Suites Orlando</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  Springhill Suites has one of the best locations in the Orlando next to SeaWorld. Luxury beds, spa-like bathrooms and large rooms make this a popular choice for families. Amenities like free Wi-Fi, free breakfast, fitness center and pool also help make your decision a lot easier.</p>

<h6 class="h6-about">Extended Stay Orlando</h6>
<p class="para">Perfect for families who are planning an lengthy visit to Orlando, the Extended Stay is a great option. Equipped with a kitchen, guests can cook in their rooms rather than go out for every meal. All rooms are suited with kitchen utensils, dishes and silverware.  Located near the major theme parks, this hotel offers free Wi-Fi, parking and grab-n-go breakfast items.</p>

<h6 class="h6-about">Faneuil Hall Marketplace</h6>
<p class="para">Shoppers and foodies will rejoice at Faneuil Hall.  With over 70 shops and restaurants to browse and taste, it's no wonder this marketplace is buzzing every day of the year.  The location on the waterfront also attracts tourists, for it's great location in the city.  Live music is also heard daily, and many festivals are put on throughout the year.</p>

<h6 class="h6-about">LaQuinta Inns & Suites</h6>
<p class="para">Located a little outside of the city center, LaQuinta Inns & Suites is a budget-friendly hotel that is ranked one of the top hotels for the price. The list of amenities is impressive, from free internet to pet-friendly rooms to a to free hot breakfast.  All rooms are stylishly furnished with comfortable beds and offer free Wi-Fi. If you're looking for the best bang for your buck, this is your best bet.</p>

<h6 class="h6-about">Homewood Suites </h6>
<p class="para">For those wanting to be close to the Universal Studios theme parks with incredible amenities, check out Homewood Suites. Free Wi-Fi, free hot breakfast and a complimentary grocery shopper are just a few of the services available at this hotel.  Rooms come with fully equipped kitchens that are great for longer stays. If you need to relax after hours of sightseeing, the hotel offers free happy hours during the week to kick back and have a drink compliments of Homewood Suites.</p>

<h6 class="h6-about">Hampton Inn</h6>
<p class="para">Hampton Inn is a great budget-friendly hotel with a killer location. Minutes from SeaWorld, Universal Studios, and many convention centers, this hotel offers a great bargain. Free hot breakfast, free Wi-Fi, comfortable beds, and a gym round out the amenities list. Free shuttles take you to Universal Studios and SeaWorld, saving you parking in those large lots.</p>

<h6 class="h6-about">Avanti International Resort</h6>
<p class="para">Basic accommodations, the Travelodge Orlando International Drive is all about the location. Located close to the famous theme parks, this hotel offers comfortable rooms for a great price. Enjoy free Wi-Fi, an outdoor pool, business services, and children stay for free.</p>

<h6 class="h6-about">Travelodge Orlando International Drive</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h5 class="h5-about pdng-tp30" id="attractions">Orlando's best attractions</h5>
<p class="para">Orlando is jam packed with fun places to visit, beaches to explore, games to watch, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Orlando an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">Disney World</h6>
<p class="para">The ultimate theme park in all the world, Disney World houses four parks within itself that all cater to a different land and region. Millions visit the parks each year to participate in parades, meet the characters, buy their first pair of mouse ears, and enjoy everything Disney. Take a safari at Animal Kingdom, meet Cinderella at the Magic Kingdom, or ride the Tower of Terror at Hollywood Studios to get the ultimate park experience.</p>

<h6 class="h6-about">Magic Kingdom</h6>
<p class="para">The Magic Kingdom is considered 'The most magical place on earth' and for good reason. The first park of the four to be built, Walt Disney brought to life his characters from his movies and placed them in a park where millions of visitors could come visit. The most popular park out of the four, Magic Kingdom includes Fantasyland, Adventureland, Frontierland and Tomorrowland for everyone to enjoy different themed rides and attractions within the park. </p>

<h6 class="h6-about">Animal Kingdom</h6>
<p class="para">The largest park in the bunch, Animal Kingdom transports you to the African Safari equipped with jeep tours, the Lion King's Tree of Life and hundreds of animals to see and learn about. Other sections of the park include Asia, Dinoland, and Discovery Island. This is by far the best park for those wanting to interact with animals and learn about the important conservation practices the park is doing to keep the wildlife safe.</p>

<h6 class="h6-about">Epcot</h6>
<p class="para">Twice the size of the Magic Kingdom, Epcot was built to resemble a Utopian city of the future, where all cultures were represented. This park is the most diverse, with several countries showcasing their food, culture, and people.  You can eat a bratwurst in Germany, crepe in France, and sushi in Japan.  There are many attractions and rides, including a beautiful water fountain show in the middle of the lake.</p>

<h6 class="h6-about">Universal Studios</h6>
<p class="para">Universal Studios were always the second-most visited theme park in Orlando until Harry Potter World showed up. Now the park boasts the most popular park within it's own location. Famous rides like Jaws and Jurassic Park have made Universal Studios famous.</p>

<h6 class="h6-about">Universal Island of Adventure</h6>
<p class="para">Another addition to the park is the Island of Adventure. Here is where the big boy rides live and your favorite comic book characters roam the park for photo opportunities and live-action shows. Popular spots at this park is Seuss Landing, a section dedicated to the land of Dr. Seuss.</p>

<h6 class="h6-about">Wet n' Wild Park</h6>
<p class="para">The ultimate waterslide park, this place is always buzzing with activity. It's a great spot to check out during the sweltering hot summer days in Orlando. With hundreds of attractions and waterslides, this place is fun for the whole family.</p>

<h6 class="h6-about">Wizarding World of Harry Potter at Universal Studios</h6>
<p class="para">Giving Disney World a run for its money, Harry Potter has taken the world by storm. The Wizarding World is a real-life account of the books that transports you into the fascinating world of witches and wizards. Rides, interactive shows, taverns and wands are all part of the fun. Visit the real Hogwarts for a once in a lifetime experience.</p>

<h6 class="h6-about">LEGOLAND</h6>
<p class="para">A little out of the city, LEGOLAND boasts 50 rides on a sprawling 150 acres. An entire world dedicated to the building blocks of everyone's childhood, LEGOLAND is just as impressive for adults as it is for kids. You have the option to choose to add the Lego waterpark to your ticket. This place offers a chance to beat the heat and take a dip in to cool off. Build your own Lego masterpiece, take photos of the impressive structures built by Lego technicians, and be transported back to your early years at Orlando's newest attraction.</p>

<h5 class="h5-about pdng-tp30" id="freeActivities">Free activities</h5>
<p class="para">Orlando is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is all year round due to the city's fantastic weather. Free concerts, admissions into parks, museums, and dancing are just the beginning.</p>

<h6 class="h6-about">Lake Eola Park</h6>
<p class="para">Situated in the middle of Orlando, this park is 43 acres of beautiful land. Used for recreation purposes, picnics, and farmer's markets, this multi-purpose park is a local favorite too. The best feature is the open-air amphitheater that hosts a variety of shows and music throughout the year.</p>

<h6 class="h6-about">Epcot</h6>
<p class="para">Twice the size of the Magic Kingdom, Epcot was built to resemble a Utopian city of the future, where all cultures were represented. This park is the most diverse, with several countries showcasing their food, culture, and people.  You can eat a bratwurst in Germany, crepe in France, and sushi in Japan.  There are many attractions and rides, including a beautiful water fountain show in the middle of the lake.</p>

<h6 class="h6-about">Disney's Boardwalk</h6>
<p class="para">A great place for everything entertainment, Disney's Boardwalk offers plenty of free entertainment. It's not uncommon to see free, live street entertainment from a variety of acts. Some include singers, comedians, acrobats and jazz bands.</p>

<h6 class="h6-about">Wineries</h6>
<p class="para">If you're a wine lover, you're in luck. There are several wineries around Orlando that offer free tastings, tours and live music at their venue. Throughout the year they offer free activities and festivals too.</p>

<h6 class="h6-about">Farmer's Markets</h6>
<p class="para">There are several markets on the weekends that are free of charge to visit. Many include local produce and gifts, clothing, jewelry, art and local foods.</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorites</h5>
<p class="para">There are just some places in Orlando that locals find themselves visiting, recommending, and loving.  Being a true local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">Swim with Manatees </h6>
<p class="para">Located on the Crystal River, you have the incredible opportunity to swim and snorkel with the local manatees! The swim session is paired with an informative and exciting airboat tour over to the Homosassa Springs Wildlife State Park where you get to see manatees feed. Check out the other animals there like alligators and bears. Your meals are included in the price and the photos youÓ¬l snap will be priceless.</p>

<h6 class="h6-about">Kennedy Space Center</h6>
<p class="para">About an hour from the city is one of the most important museums of our time. The Kennedy Space Center offers an abundant amount of activities and information for the whole family. Have lunch with an astronaut, check out a movie at one of the 3D IMAX Theatres, and learn about the NASA's early space program. No matter if you're a space fan or not, you will leave amazed at how much NASA has accomplished in it's little existence.</p>

<h5 class="h5-about pdng-tp30" id="safety">Being Safe in Orlando</h5>
<p class="para">Orlando is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.</p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered. </p>


</div>
</div>