<main ng-controller="HotelDestinations">

    <section class="container">

        <section class="popular_dest">


            <hgroup class="popular_dest_hgroup">

                <h2>Top US cities guides</h2>

            </hgroup>


            <article class="popular_destId pophotel">

                <figure ng-click="showHotels(hotel)" ng-repeat="hotel in popularHotels" id="popular_destId_{{hotel.id}}">

                    <img src={{hotel.imageURL}}>

                    <figcaption>

                        <h6>{{hotel.city}}</h6>

                        <p>{{hotel.state}}</p>
                    </figcaption>
                </figure>


            </article>

        </section>
    </section>

</main>
