<div class="wrapp">
<div class="full-details">
<br />
<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around San Francisco is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Visitor Passport. It's an all-in-one card for public transport and saves your money at the same time.  You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>
<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in San Francisco.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, San Francisco has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in San Francisco is massive.  There is a bus going somewhere at every second of the day.  With thousands of routes, taking the bus around San Francisco and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses, ferries, rail, or subways around the city.  To plan your trips or for more general information on bus transportation, the city's transportation website is going to be your best friend.</p>

<h6 class="h6-about">BART</h6>
<p class="para">San Francisco's underground system, BART (Bay Area Rapid Transit) is one of the best in the country and runs daily from the city center and out to surrounding areas including the airport and over the water to Oakland and beyond.  For a real-time schedule, check out the city's transport site.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uberhas become a highly sought out transport solution in many major cities including San Francisco.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>
<h6 class="h6-about">San Francisco International Airport (SFO)</h6>
<p class="para">Located 13 miles from downtown San Francisco, this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares.  Taxis will cost around $43-65 to get into the city, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times. The BART runs directly from SFO to the city every 15 minutes.</p>

<h6 class="h6-about">Oakland International Airport (OAK)</h6>
<p class="para">Only 20 miles across the bay is the Oakland International Airport. This airport is very popular for domestic flights and transportation to/from the airport is easy.  The BART runs straight from the airport into the city several times a day. For timetables and fares, check out the airport's website.</p>

<h5 class="h5-about pdng-tp30" id="history">San Francisco's History</h5>
<p class="para">San Francisco was founded in 1776 and since then has become on of the most influential cities in the country.  The city has a big part in American culture, and the majority of America's financial and social changes were formed in San Francisco.  The city became a mecca of culture, art and love in the summer of 1960, creating a positive movement for equality among the people.  Now decades later, the city is known for its dot com population, housing thousands of tech start ups and powerhouses like Google, Pixar, and Facebook.  The city has become the most progressive west coast city, and the first to pan plastic water bottles and bags in the city limits.  San Francisco is a city that everyone feels welcome regardless of your story.  It's a big reason why the city is so popular; you can be yourself and everyone will celebrate it.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">San Francisco is divided into 50 + neighborhoods full of fun, food, and people from all over the world.  Each area has it's own unique feel and purpose, making San Francisco feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown San Francisco is a mixed bag of business, arts, and tourist attractions.  Most of the accommodation is found in Union Square, Market Street, and Chinatown which is close to shopping, dining, and tourist attractions. It's a great area to check out to see history mingle with contemporary.</p>

<h6 class="h6-about">Fisherman's Wharf</h6>
<p class="para">By far the most popular area of the city, Fisherman's Wharf is the ultimate tourist neighborhood. With tacky souvenir shops, the best sourdough chowder bread bowl  in the city, and resident harbor seals barking for your attention, it's a fun place to play tourist during the day or night.</p>

<h6 class="h6-about">Mission District</h6>
<p class="para">The Mission is a fantastic spot to venture to for authentic Central American and Mexican food.  This neighborhood is a great introduction to the Latin culture in the city and is the best stop for hip, local shops, including second-hand bookstores and fashion.</p>

<h6 class="h6-about">Haight/Ashbury</h6>
<p class="para">Bring out your inner-hippie in this neighborhood. Home to the ғummer of LoveҠback in the Ҷ0's, this area looks like it's traveled back in time.  Houses are brightly painted, stores sell everything tie-die, and it's not uncommon for someone to throw up a peace sign as you pass by.  The Haight is the funkiest, fun, and loveable area in all of the city.</p>

<h6 class="h6-about">Castro</h6>
<p class="para">The Castro is an important part of the city, and not just because of its location. During the 70's, this area was known for equality marches, parties, and political demonstrations for the alternative lifestyle.  Now, it's a bustling tourist attraction in its own right, with a buzzing nightlife and quirky shops selling items you could only find in San Francisco's biggest queer neighborhood.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">San Francisco is a culinary dream. With being one of the country's oldest cities, it has had years to develop a restaurant scene.  And a scene it is.  With world-class chefs, over-the-top menus, and farm-to-table dining experiences, San Francisco is well worth eating your way through.  The city boasts an incredible amount of restaurants, and one of the best organic/sustainable produce industries in the world.</p>

<h6 class="h6-about">Breakfast</h6>

<h6 class="h6-about">Plow </h6>
<p class="para">Plow is a breakfast lover's dream .  Locally sourced meat and produce make up this beautiful menu. With a fresh and reasonably priced menu, Plow dishes out omelettes, waffles, fresh fruit and combination plates on the regular.  They are closed on Mondays but make up for it by serving brunch on the weekends.</p>

<h6 class="h6-about">Just for You Cafe</h6>
<p class="para">One of the highest rated breakfast joints, Just for You Cafe offers breakfast in the most traditional way; big and bountiful.  Their menu is more egg focused with over 10 different egg options.  They also specialize in breakfast burritos, pancakes and french toast.  If you're going on the weekend, arrive early.  It's not uncommon for guests to wait 45 minutes or longer to be seated.</p>

<h6 class="h6-about">White Wolf Cafe</h6>
<p class="para">Another local favorite, White Wolf Cafe is always busy. Highly rated, locally loved, and worshipped by tourists, this breakfast joint isn't going anywhere anytime soon.  Just make sure you get there early, as the line gets long really quick. Snag a table and order one of their famous jumbo homemade cinnamon rolls before they sell out.</p>

<h6 class="h6-about">Squat & Gobble</h6>
<p class="para">Another local favorite, Squat & Gobble is always busy.  Located in uber popular Marina District, the cafe has one of the most impressive breakfast menus of any restaurant in the city.  Highly rated, locally loved, and worshipped by tourists, this egg and crepe breakfast joint isn't going anywhere anytime soon.  Just make sure you get there early, as the line gets long really quick. Snag a table on the back patio for a great atmosphere.</p>

<h6 class="h6-about">Brenda's French Soul Food</h6>
<p class="para">The name doesn't leave much to the imagination, but the menu is extremely impressive. They serve up hearty dishes of grits, eggs, beignets, and fried chicken, creating a fan base both with locals and visitors. Easily located downtown, this breakfast hot spot is worth it.</p>

<h6 class="h6-about">The Pork Store Cafe</h6>
<p class="para">Don't let the name fool you.  Here you will indulge on great American breakfast dishes, including Chicken Fried Steak and biscuits and gravy.  Many of their items are made from scratch and they provide a special menu daily.  This placegets packed so arrive early.</p>

<h6 class="h6-about">Lunch</h6>

<h6 class="h6-about">Naked Lunch</h6>
<p class="para">The menu at Naked Lunch is minimal but packs huge flavor into the menu items.  Located close to Little Italy, this popular spot brings in both the locals for the fresh ingredients and the tourists for the name.  Don't leave without trying their Mary's Farm Fried Chicken Sandwich.</p>

<h6 class="h6-about">The Sentinel</h6>
<p class="para">The Sentinel is a fantastic spot for those who are wanting a sandwich or salad.  These hand-crafted sandwiches are filled with delicious ingredients and are hugely popular with the local business crowd downtown. Simply put; these sandwiches are delicious.</p>

<h6 class="h6-about">Harrow</h6>
<p class="para">This is a great place for beautifully crafted sandwiches and salads. The lunch menu is minimal and changes weekly, but every item on the menu is locally sourced, as Harrow practices farm-to-table methods, only using the freshest ingredients. It's a great place to get something on the go.</p>

<h6 class="h6-about">Boudin Bakery</h6>
<p class="para">With multiple locations, Boudin Bakery serves thousands everyday. And for good reason. They are the most famous bakery in the state, pumping out thousands of loaves of sourdough bread daily.  Try a local favorite, chowder in a sourdough bread bowl.  Some say it's life changing.</p>

<h6 class="h6-about">The House</h6>
<p class="para">Located in the middle of Chinatown, The House is a great spot for lunch if you're out and about sightseeing. Traditional Chinese is served here with a few twists.  Try their stir-fried noodles or their Ahi BLT to really get a taste of what they offer.</p>

<h6 class="h6-about">Dinner</h6>

<h6 class="h6-about">Allegro Romano</h6>
<p class="para">If homemade pasta is on your mind, Allegro Romano in Little Italy is the place you need to go. While homemade pastas are their specialty, that's not the only star on their menu. Other classic Roman cuisine standouts like Prosciutto and Burratashould definitely not be missed. Those looking for a place to get high quality food in a relaxing atmosphere should look no further.</p>

<h6 class="h6-about">Dosa</h6>
<p class="para">If you're wanting Indian and an incredible dining experience, look no further than Dosa.  This Southern Indian joint has multiple locations around the city, making it easier for you to grab a seat at this hot spot.  They have been named ҂est IndianҠby locals for sevens years in a row, and show no signs of stopping.  They are the only Indian restaurant in the city that is eco-friendly.  Try one of their spice-infused cocktails with your dinner.  YouӬl never want to eat anywhere ever again.</p>

<h6 class="h6-about">Nopa</h6>
<p class="para">If you are going out on the town and want the ultimate dining experience, head to Nopa. Their menu is comprised of small plates, with a Mediterranean feel. Both a local and tourist favorite, Nopa is worth every dollar.</p>

<h6 class="h6-about">Frances</h6>
<p class="para">Located in the Castro District, Frances serves up a seasonal menu that is impossible to miss.  Local meats, cheese, and produce round out this beautiful menu, creating a regional wonder.  Try their Applewood Smoked Bacon Beignets to start, and go from there. But make sure you leave room for their homemade apple pie.</p>

<h6 class="h6-about">The Tipsy Pig</h6>
<p class="para">This Gastropub is very popular with locals, as it always has a local sports game on the TVs located throughout the place.  Smoked BBQ is their specialty and their housemate Pulled Pork Sliders are to die for.  Located in the popular Marina District, The Tipsy Pig is always buzzing with life.  If there's a game on, make sure you get there early for a seat.</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Where to stay</h5>
<p class="para">San Francisco is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Fisherman's Wharf and downtown.</p>

<h6 class="h6-about">Luxury</h6>

<h6 class="h6-about">Omni San Francisco Hotel</h6>
<p class="para">The Omni San Francisco is pure elegance. Located right downtown close to the famous shopping area of Union Square, this hotel takes service to the next level.  This five-star luxury accommodation makes every guests feel at home. From wine, breakfast in bed, special gifts for children, and personal drivers, Omni San Francisco Hotel is your place to rest.</p>
		
<h6 class="h6-about">The Ritz-Carlton</h6>
<p class="para">The Fairmont is a name that exudes supreme elegance. And that is exactly the case for this hotel in San Francisco.  Located in between the financial and shopping districts, this hotel is perfect for those who are wanting to spend their time indulging in the city's culture and retail scene. The hotel is merely steps away from the famous San Francisco street cars. The long list of amenities available include free wi-fi for hotel members, in-room services, and exquisite dining options. If that's not enough, there's a babysitter  available for childcare whenever you need it.</p>

<h6 class="h6-about">The Fairmont</h6>
<p class="para">As if you're staying on safari in Africa, this hotel transports you straight to an African wildlife park. Rooms include breathtaking views of the savannahs filled with 30 different species of wildlife, lush African artifacts, rustic furnishings and thatched roofs. This ultimate animal experience gets better in the hotter months when you're able to watch movies under the stars outside by one of the hotel's pools.</p>

<h6 class="h6-about">Mid-range</h6>

<h6 class="h6-about">Club Quarters Hotel</h6>
<p class="para">Located in between Chinatown and the Financial District, Club Quarters Hotel is a great spot to rest your head in the heart of the city. With free wi-fi, incredible food and a 24-hr fitness center, this downtown hotel is one of the best options for the price.  Those who enjoy long lists of amenities, the Club Quarters Hotel is for you.</p>

<h6 class="h6-about">Hotel Union Square</h6>
<p class="para">The name says it all. Located in the center of the city, Hotel Union Square is the city's first boutique hotel.  Built in 1913, the historic building provides a beautiful setting in a relaxed atmosphere.  Pair it with free wi-fi, an ideal location and pet-friendly rooms, and you have a killer spot to stay in the city.</p>

<h6 class="h6-about">Holiday Inn Fisherman's Wharf</h6>
<p class="para">This hotel may have it all for a great price.  Located overlooking San Francisco's Fisherman's Wharf, this Holiday Inn is full of value for the price tag.  Not only does this hotel have all the amenities one needs to feel comfortable, the hotel is only 10 minutes walk from the most famous destination in the entire city. Free wi-fi, breakfast, and fitness center, the amenities alone will make you want to book a room here.</p>

<h6 class="h6-about">Budget-Friendly</h6>

<h6 class="h6-about">Travel Lodge Presidio</h6>
<p class="para">Located by the beautiful Presidio, this budget-friendly hotel offers great amenities and one killer spot.  The hotel offers free wi-fi, free breakfast, coffee, and free parking, so keep that in mind if you're traveling on a budget, as parking in this city is not cheap.</p>

<h6 class="h6-about">Regency Inn SFO</h6>
<p class="para">Looking for a place outside the city center?The Regency Inn is a great spot for you to rest your head.  They offer pet-friendly rooms are are close to local transportation, making it easy to get into the city without the hassle of parking. Free internet, coffee, parking and a conveniently located by the airport, this hotel really gives you the best bang for your buck outside the city.</p>

<h6 class="h6-about">Taylor Hotel San Francisco</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  Taylor Hotel has one of the best locations in the city right in the heart of the city.  There are no frills to this hotel, but the friendly staff, cable TV, and free wi-fi.  Did I mention the location? It's a stone's throw from Union Square, one of the city's best sight-seeing spots.</p>

<h6 class="h6-about">The Mosser</h6>
<p class="para">Located in Union Square, The Mosseroffers a great hotel for a great price. Amenities include free wi-fi, free coffee/tea, and robes.  This hotel is perfect for those wanting to stay in the middle of the action. Local transportation is across the street from the hotel, making it convenient to get into the city without the hassle of driving.</p>

<h6 class="h6-about">San Remo Hotel</h6>
<p class="para">Located in the North Beach neighborhood of San Francisco, this budget-friendly hotel is ranked one of the top hotels for the price. The list of amenities is impressive, from free internet to pet-friendly rooms to an incredible restaurant.  All rooms are stylishly furnished with comfortable beds, tables and wood and brass furnishings. If you're looking for the best bang for your buck, San Remo Hotel is your best bet.</p>

<h6 class="h6-about">Hotel Des Arts</h6>
<p class="para">For art lovers, this is your place.  Murals are painted in each of the rooms, creating a lively and artistic element to the hotel. This tiny hotel only has 51 rooms, but it's well worth booking.  Hotel Des Arts is located in the middle of everything; Chinatown, the Financial District and Union Square all corner this hotel, giving it the best location for the price. Light breakfast, internet, microwaves and mini fridges are all part of the amenities package for each room.  It's safe to say, this place really knows how to take care of their guests.</p>

<h6 class="h6-about">Baldwin Hotel</h6>
<p class="para">The recently renovated Baldwin Hotel is located in Chinatown, steps away from the city's best attractions and streetcars. This no-frills hotel may not offer much on the amenities list, but it makes it up with location.  There's still free-wifi, tea and coffee in the lobby and TV in the rooms, but with only being minutes away from all the action, you won't be spending much time in your room.</p>

<h5 class="h5-about pdng-tp30" id="attractions">San Francisco's best attractions</h5>
<p class="para">San Francisco is jam packed with fun places to visit, parks to explore, games to watch, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make San Francisco an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">AT&T Park</h6>
<p class="para">This baseball park is an institution to not only the city of San Francisco, but to the game of baseball too.  One of the best ballparks in the country, fans come from all around the world to catch a game, event or concert in the famous field.  If you're not there during baseball season, you can still take a tour of the grounds and learn the significance of the park and why so many San Franciscans love their home team the World Series Champions, San Francisco Giants.</p>

<h6 class="h6-about">Streetcars</h6>
<p class="para">If you want to take a step back in history and learn more about the start of the city, taking a streetcar is one way to go.  Streetcars travel up and down the hilly city, stopping at various destinations so you can hop on and off.  Even if it's just for a photo opportunity, you won't want to miss taking a ride on one of these historic streetcars.</p>

<h6 class="h6-about">Fisherman's Wharf</h6>
<p class="para">Shoppers and foodies will rejoice at Fisherman's Wharf.  With over 50 shops and restaurants to browse and taste, it's no wonder this tourist attraction is buzzing every day of the year.  The location on the waterfront attracts everyone, for it's great location in the city.  Live music is also heard daily, and many festivals are put on throughout the year.</p>

<h6 class="h6-about">The Golden Gate Bridge</h6>
<p class="para">The most famous and recognizable landmark on the west coast, the Golden Gate Bridge stands tall through the morning fog like a beacon in the dark.  It's beautiful, photogenic, and a lot of fun to walk across.  Golden Gate Park provides the best views of the bridge, allowing for great photos.  You can rent bikes to ride across or you can go by foot with thousands of others.</p>

<h6 class="h6-about">Chinatown</h6>
<p class="para">If you like to be surrounded by thousands of people bartering for food and souvenirs, Chinatown is your place.  Designated the largest Chinatown outside of Asia, this tourist destination does not disappoint.  Shop for quirky gifts, eat fabulous Asian cuisine, and see a culture in its element.</p>

<h5 class="h5-about pdng-tp30">Free activities</h5>
<p class="para">San Francisco is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and wine tastings are just the beginning.</p>

<h6 class="h6-about">Cinema in the park</h6>
<p class="para">During the summer months, Bernal Heights offers up a great variety of films for their outdoor cinema series.  This is a great option for those traveling with children or those who are budget conscious. Some of the free events include outdoor theatre and night movies.  Grab a picnic basket, blanket, and some drinks and enjoy the weather and free entertainment.</p>

<h6 class="h6-about">Twin Peaks Hike</h6>
<p class="para">For a 360 degree view of the city and Bay Area, head up to Twin Peaks.  This park can be reached by car, bus, or you can get some exercise and take the hike up.  The views are impressive, and if you are lucky, you might see the native endangered Mission Blue Butterfly floating around.  Do not forget your camera; this is the ultimate photo spot.</p>

<h6 class="h6-about">Ferry Building Markets</h6>
<p class="para">Located in the Embarcadero District the Ferry Building house outdoor markets year-round.  Sample local produce, honey, ice cream, and much more right on the waterfront.  There are plenty of places to relax and soak up the sun, or watch the neighboring boats pass by. Get there early as the Farmer's Market only lasts a few hours.</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorites</h5>
<p class="para">There are just some places in San Francisco that locals find themselves visiting, recommending, and loving.  Being a true San Franciscan means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">Public Works SF</h6>
<p class="para">San Franciscans love to go out for any type of show.  In addition,Public Works SF can cater to any crowd.  One of the most acclaimed venues in the city, the multi-level spot displays local artists, hosts famous DJs, and promotes non-profit events.  If you are in town and want to catch a show, make sure you book. You will not want to miss one of the best venues in the city.</p>

<h6 class="h6-about">Presidio</h6>
<p class="para">One of the most popular destinations in the city is the Presidio. This beautiful area of the city houses Lucas Films Studios, museums, and used to be a historic military base,.  Take a picnic and stroll around the landscaped grounds, taking in the salty air by the sea.  The Walt Disney Family Museum is a huge hit with the kids, too.</p>

<h6 class="h6-about">Marina District</h6>
<p class="para">You will notice many locals hanging out in this near-perfect neighborhood on the water. Filled with fantastic boutique shopping, dining, and housing, this area of the city is definitely a place to see and be seen. The marina is also a beautiful place to visit and watch the sailboats head out into the windy bay.</p>

<h5 class="h5-about pdng-tp30" id="safety">Being Safe in San Francisco</h5>
<p class="para">San Francisco is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.</p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning will not only save you time but save it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.</p>


</div>
</div>