<div class="wrapp">
<div class="full-details">
<br />

<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">Seattle is relatively easy to get around, but some of the outer suburbs may require a car.  Public transportation runs at all times and is very efficient.  For timetables, fares, and route maps, check out King County Transportation.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">It's easy to get a taxi in downtown Seattle or areas right outside the city center.  There are numerous cab companies that will take you long distance and to outlying suburbs.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system is rather extensive reaching outer suburbs in all directions.  Many buses are equipped with bike racks in the front, accommodating the large population that like to bike to work.  In 2015, the bus system will get an even big-ger push with an order for more than 220,000 more hours of transit available for buses, trains, and rail systems.</p>

<h6 class="h6-about">Rail/Train</h6>
<p class="para">There are several rail systems in Seattle. The Light Link takes you to/from Seat-tle's Sea-Tac Airport and downtown.  The Monorail takes you around the Seattle Centre and the famous Space Needle.  The city also has it's own streetcar system and for those staying or living as far as Tacoma can ride the Sounder Train daily.</p>

<h6 class="h6-about">Ferry</h6>
<p class="para">Ferries are an integral part of Seattle's transportation system.  They leave multiple times a day from downtown and take on many destinations to West Seattle and Bremerton and around the Puget Sound.  Some even take you all the way up to British Columbia! For a full list of times, routes, and prices, head over to the Washington State Ferries website. For the best views of the city, board a ferry at Pier 52 downtown.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>
<p class="para">Only 15 miles from the city center, Seattle's international airport Sea-Tac, is one of the easiest airports to arrive and depart. The Light Link travels to/from the airport every 7.5, 10, and 15 minutes and goes until 1 am every day.  Plenty of taxis are available as well once you leave the baggage claim and head outside.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">Seattle has an eclectic variety of neighborhoods.  Each area has something to offer that the other's don't.  It's like visiting several cities in one.  From the bustling streets of downtown to the trendy local spots on Capital Hill, this city is laid out like a map; ready for you to explore it all.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown is busy, busy, busy.  All of Seattle's biggest landmark's and tourist at-tractions live in this area.  Pike Place Market is swarming with people everyday, trying to get their hands on local products and fresh flowers.  The Space Needle is the city's most recognizable landmark, giving you the best view of the city from the sky.  Downtown is also home to the best shopping in Seattle.  You can shop for both local and big name brands all in the same place.</p>

<h6 class="h6-about">Queen Anne</h6>
<p class="para">A fantastic place to find local hot spots and great food on the cheap, Queen Anne sits on the back side of the Space Needle and travels northwest of the city.  Neighborhood parks, big, beautiful houses with views to die for, and coffee make Queen Anne a nice change from the skyscrapers of downtown.</p>

<h6 class="h6-about">Capitol Hill</h6>
<p class="para">If you want to a place where you can bar-hop, dance and dine your way around, then Capitol Hill is your stop.  A very prominent entertainment neighborhood, Ca-pitol Hill boasts the city's biggest gay community.  It's also the spot for culture and art.  Dotted with theatres around the areas, Captiol Hill is a great place to visit to get a taste of the fun and hip side of Seattle.</p>

<h6 class="h6-about">U-District</h6>
<p class="para">U-District stands for 'University District' and that's exactly what it is.  The University of Washington has over 43,000 students enrolled for classes at the main cam-pus.  It's beautiful architecture, landscaping and buildings make this place a great stop to see the future generation in action.  The streets around the university are lined with cheap eats, bars, clubs, theatres, and university shops where you can buy your fan gear.</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Accommodation</h5>	
<p class="para">There are some great deals on accommodation in Seattle.  You have quite the range from the five-star classics to hostels for the budget-minded traveler, the city is equipped for any traveler.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Pike Place Market.</p>
<h6 class="h6-about">Luxury</h6>
<p class="para">For the ultimate luxurious hotel, head over to Hotel 1000.  Centrally lo-cated, this classic hotel gushes with finesse and luxury, paired with new-age technology.  With one of the best locations in all of Seattle, it cannot be beat. Another 5-star hotel is the Four Seasons in downtown Seattle.  With incredible views of the Puget Sound from each room, the Four Seasons knows how to pamper their guests. Rated in the top 25 best hotels in the U.S. by Trip Advisor, this hotel raises the stakes in the hospitality industry.  With a long list of amenities including babysitters on request, the Four Seasons knows what you want before you even ask.</p>

<h6 class="h6-about">The Westin</h6>
<p class="para">If you're looking for contemporary, and top-notch customer service, The Westin has got your back.  Located in one of the city's most iconic build-ings, this hotel is easy to find, and is easy to love.  They love their guests so much, they've partnered with the brand New Balance to offer guests running shoes and other gear during their stay.  Rooms even come with a running map of the city and a fitness studio that never shuts.  After a long run you may want to reserve an in-room massage.  Add world-class room service and you have a perfect night in.</p>

<h6 class="h6-about">Hotel Five</h6>
<p class="para">This quirky, funky and bright hotel has a great location and a great price.  This mid-range facility is dog-friendly, offers complimentary wi-fi, and has free shuttle service in the city.  There's a great cafe inside the hotel for those who want a quick bite without having to look anywhere.  The biggest plus to staying here is the free bike rental for all guests. Hotel Five may be the city's best hotel on the block.</p>

<h6 class="h6-about">Ace Hotel</h6>
<p class="para">Ace Hotel may be the new wave of hotels that we need.  With a sleek website, urban rooms, and a hip reception, this budget hotel has everything you want.  The location downtown is great to walk everywhere, and is close to many dining options.  If you don't want to spend more than $200 on a hotel room, pick Ace.</p>

<h6 class="h6-about">Haight/Ashbury</h6>
<p class="para">Bring out your inner-hippie in this neighborhood. Home to the 'Summer of Love' back in the '60's, this area looks like it's traveled back in time.  Houses are brightly painted, stores sell everything tie-die, and it's not uncommon for someone to throw up a peace sign as you pass by.  The Haight is the funkiest, fun, and loveable area in all of the city.</p>

<h6 class="h6-about">Hotel Deca</h6>
<p class="para">One of the best options for the budget-friendly, Hotel Deca is in the heart of the city.  With an art deco theme, it's easy to see why everyone who stays raves about the decorations and the feel of the hotel.  There's a variety of rooms, including suites available at affordable prices.  Equipped with an uber cool lounge and coffeeshop, you may never leave this place.</p>

<h6 class="h6-about">Inn at Queen Anne</h6>
<p class="para">Located in one of the best neighborhoods of Seattle, the Inn at Queen Anne is a great bang for your buck.  A cute European hotel built in 1928 with stone archways and gardens, this could be your home away from home.  Tucked back in the neighborhood this hotel is close to local's favorite coffee shops, restaurants, and only a walk away from Seattle's biggest attraction, the Space Needle.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">Seattle is a fantastic city to eat in.  They have the freshest seafood and the most incredibly talented chefs ready to create the nation's next big thing.   Whether you're in the mood for Asian, Indian, or American, Seattle has thousands of res-taurants waiting for you to stop by.</p>

<h6 class="h6-about">Lowell's</h6>
<p class="para">If you want breakfast and are downtown, look no further.  Located in Pike Place since 1957, this old gem serves up the best breakfast in town.  With one of the biggest variety of breakfast to choose from, it's hard to narrow it down.  They specialize in smoked salmon benedict and you wouldn't dare come in and not try it.  Lowell's is worth going to every morning of your trip.  It's that good.</p>

<h6 class="h6-about">Grim's Provisions & Spirits</h6>
<p class="para">Located on Seattle's uber trendy Capitol Hill, Grim's Provisions & Spirits is a fan-tastic place to go to grab a drink and some delicious bar fare.  But it's not the food that you will be gazing at, it's the Butterfly Lounge.  Wall-to-wall jars of butterflies are illuminated above you, creating an incredible visual experience.  If you're in Seattle over the weekend, make sure you check out their brunch menu, stacked with fantastic items like their roasted cauliflower crostini or their eggs benedict.</p>

<h6 class="h6-about">Geraldine's Counter</h6>
<p class="para">If you want a traditional hearty breakfast, look no further.  Geraldine's Counter has been named one of Seattle's best for years, and we can see why. Using only the freshest ingredients from local producers, Geraldine's aims to please every person who comes through the door.  For those who sleep in, you're in luck.  Breakfast is served all day.  With a variety of scrambles, omelettes, and specialties like their country fried steak and eggs, Geraldine's works for any appetite.</p>

<h6 class="h6-about">Little Uncle</h6>
<p class="para">If you love Thai food, Little Uncle is the place to go.  Here their recipes and tradi-tions are past down from generation to generation, making this restaurant a family affair.  The menu is small, but the flavor is not.  If you love them, fear not.  They have aa pantry where you can pick up their homemade spices, chillies, and jams.</p>

<h6 class="h6-about">Tenoch Mexican Grill</h6>
<p class="para">Mexican food in Seattle is fantastic.  And one of the best and busiest restaurants is Tenoch Mexican Grill.  Open for lunch only, this place is packed from open to close.  Serving up Mexican cuisine from the central states of Mexico, this restau-rant has made a name for itself with its fresh ingredients, bold flavors, and mari-nades.  Try the enchiladas, fish tacos, or their burritos.</p>

<h6 class="h6-about">Matt's in the Market</h6>
<p class="para">Sandwich lovers will rejoice at the menu at Matt's in the Market.  These aren't your ordinary bread, meat, and cheese sandwiches though.  This restaurant takes it to the next level and offers crazy combinations with the end result being nothing but amazing.  Their biggest winner: the pan-fried crusted cornmeal caitiffsh sandwich.  They also use rabbit, tuna, pork belly confit, and braised beef cheeks.  Not in the mood to try something different? Don't worry they have an incredible burger too.  Why wouldn't they?</p>

<h6 class="h6-about">Palace Kitchen</h6>
<p class="para">If you're craving an upscale New American vibe, Palace Kitchen is your place. Located downtown, the open kitchen and applewood smoked grill has you begging to get in and sad to leave.  Try their rotisserie chicken, fresh seafood, or their long list of delicious appetizers.</p>

<h6 class="h6-about">Anthony's</h6>
<p class="para">You can't go to Seattle and not have seafood.  That's like going to a baseball game and not getting a hotdog.  It doesn't happen!  And there's no other institution of seafood like Anthony's. With multiple locations across the state, this place knows its seafood.  Of all the Anthony's the one at Pier 66 on the Puget Sound is the best.  It has the best view, the best ambience, and the best food.</p>

<h6 class="h6-about">Spinasse</h6>
<p class="para">Let's talk Italian.  In a city that has thousands of restaurants, many of them Italian, this is one place you should definitely check out. This place has been featured on TV shows, and has a local crowd that loves them.  With a rustic theme and a menu that is inspired by Northern Italian cuisine, you'd swear you're in Italy itself.  They make their own pastas too!  Try their hand-cut egg past with brown butter and sage and you will see why everyone is in love with Spinasse.</p>

<h5 class="h5-about pdng-tp30" id="attractions">Seattle on the cheap</h5>
<p class="para">Seattle is a city of many sides.  You can go upscale and spend a lot of moola, or you can get by on less than $50 a day. It's up to you how you want to spend your days in Seattle but there will not be a shortage of places to see and visit because of your budget.</p>

<h6 class="h6-about">The Music Scene </h6>
<p class="para">I don't think Seattle will ever get rid of their stereotype of being a grunge rock city.  The city is the birthplace to two of the biggest 90's bands in history, and nobody has been able to forget that.  Pearl Jam and Nirvana still bring thousands of people to Seattle to pay their respects and hope to one day recreate the magic these bands once had. This city is filled with exceptional music venues, for any type of music and interest.  You can catch a live show every night of the week for free if you want.</p>

<h6 class="h6-about">Ivar's</h6>
<p class="para">Ivar's fish bar is as old as Seattle itself.  If you're wanting to try Seattle's famous seafood, Ivar's fish & chips are the real deal.  And the good news is they won't set you back $50.  There are multiple locations around the city, but the best one is down on the wharf so you can sit outside and watch all the boats go by.</p>

<h6 class="h6-about">Art Walks</h6>
<p class="para">Certain areas of Seattle put together an Art Walk through it's community, where stores, cafes, and shops open their doors for visitors to view local art.  Usually held once a month starting in spring, these events carry on until the fall.  It's a great way to check out local artists and support their dreams by purchasing a piece or two.Depending on your interests and budget, check out the Greater Seattle on the Cheapwebsite to search for you best options in a variety of neighborhoods around the city.  Dates and activities change weekly, and you never know, you might score an incredible music show or event for free by having a look.</p>

<h5 class="h5-about pdng-tp30" id="sports">Sports & Entertainment</h5>
<p class="para">Sports are everything in this town.  From reigning SuperBowl Champs to a baseball team with a huge heart, Seattle is a sports fan's dream.  Both stadiums are located downtown and easily accessible by public transportation.  Even when there isn't a home game, they're worth checking out.</p>

<h6 class="h6-about">Seattle Mariners</h6>
<p class="para">The baseball team swears over their heart they have the best fans in the world.  And there's reason to believe that.  The team has not been in the Playoffs for over a decade, but every year games are sold out far in advance.  If you're in town during baseball season, do yourself a favor and check out a Seattle Mariners game.  The view, the crowd, and the hotdogs are waiting for you.</p>
		
<h6 class="h6-about">Seattle Seahawks</h6>
<p class="para">2014's Superbowl Champions have put Seattle Seahawks on the map.  The wildly popular football team brings in thousands of visitors during the season.  Expect to pay a decent price for a ticket to one of the home games as they are a high commodity.  But if you grab yourself a ticket or two, you won't be disappointed.  The crowd is so loud, they usually land themselves on the Richter Scale for creating an earthquake.</p>

<h6 class="h6-about">Seattle Sounders</h6>
<p class="para">Soccer has a new home.  Seattle has embraced this sport tenfold.  Housed in the Seahawks stadium during their off season, the Seattle Sounders sell out.  Every. Single. Game.  Their electric colors paint the town bright green and blue, and you can hear them cheering miles away.  If you're a soccer fan, at least go to the sta-dium and check what all the fuss is about.</p>

<h5 class="h5-about pdng-tp30" id="mustsee">Must-See & do </h5>
<p class="para">There is so much to see and do in this city, you could stay for years and barely skim the surface.  We've narrowed it down a bit to a few that we think need to be at the top of your list no matter what.</p>

<h6 class="h6-about">Space Needle</h6>
<p class="para">Ahh the Space Needle.  The landmark that is recognized around the world.  It's like the Eiffel Tower; you can't go to Paris and not visit it. It wouldn't be a trip if you didn't!  The Space Needle is very popular and for good reason.  There is a viewing platform the has a 360 degree view of the city, Mount Rainier in the background and of the Puget Sound.  It's a breathtaking view at the top, at 605 feet high.  If you're hungry and have some money to spend, make a reservation at the rotating restaurant! Yes, rotating and located only 500 feet above the ground.  It's an experience not to be missed.</p>

<h6 class="h6-about">Pike Street Market</h6>
<p class="para">100's of stalls line both sides of Pike Street Market.  This outside shopping centeris incredible.  Street performers, food and beverage tastings, clothing, artwork, produce, flowers, jewelry, jam, and of course, seafood.  This fish market is famous for one thing; throwing your fish at you.  When you buy any seafood from the main fish stall in the center of the market, the workers put on a show! They sing, they dance, and pretend to throw you fish at you when really, a coworker has snuck behind you to catch it.  It's entertaining and completely worth pushing through all the people to get a good view.</p>

<h6 class="h6-about">Starbucks</h6>
<p class="para">Come on! You are in the city that started it all.  Right across the street from Pike Street is the first ever Starbucks.  It's fun to look at the old and very tiny location, but be warned, the line is always out the door.</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorite spots</h5>
<p class="para">Sometime's locals like to keep secrets from tourists.  In this case, some are nice enough to recommend or share their favorite spots.  With this inside information you may have the power to take over the world.  Ok, maybe not the world, but you're at least in a secret society only locals know about.</p>

<h6 class="h6-about">Maximilien</h6>
<p class="para">Blink and you will miss the entrance to this place.  Maximilien is located in the Pike Street Market itself.  This incredible restaurant gets rave reviews from locals.  With expansive panoramic views of the sound, the city, and the Olympic Mountains to the west, this hot spot has so much to offer, and you haven't even eaten dinner yet!  Their food is just as impressive featuring a French inspired cuisine that will knock your socks off.  If you call to make reservations, make sure you get details on how to find the place.</p>

<h6 class="h6-about">Woodland Park Zoo</h6>
<p class="para">Yes majority of cities have their own zoo, but Seattle's takes it up a notch.  Every summer the Woodland Park Zoo puts on a concert series from the end of June to September.  If you're in town during those months spend a few hours hanging with the monkeys before you catch a groovy musical act at the main stage.</p>

<h6 class="h6-about">Take a hike</h6>
<p class="para">Locals love to get outdoors when the sun decides to say hi.  If you don't have a car, head up to Green Lake.  Just a bus ride away from the city center.Green Lake offers a lovely walk around the lake and shops and cafes nearby to fuel up before and a nice pint or refreshing beverage after.  It's one of the local's favorite spots and most popular.  When the sun is out, so is everyone else.  To make sure you don't get run over by anyone on bikes or running, remember stay to the left!  You can thank me later for that information.</p>

<h5 class="h5-about pdng-tp30" id="safety">Safety </h5>
<p class="para">The good news is that Seattle is quite safe.  People in the Pacific Northwest pride themselves on their niceness and willingness to help a visitor out.  As with visiting any new city, it's best to be aware.</p>

<h6 class="h6-about">Plan Ahead</h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more com-fortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding public transportation alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.</p>

</div>
</div>