<div class="container" >
<div class="about-des">
<h3>Washington D.C. City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('mustsee')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Washington D.C. is one of the United States' premiere destinations. Situated on the East Coast, D.C. is one of the most popular spots in the world. With our nation's most rich history, incredible nightlife, and international influences, Washington D.C. is a popular destination for many domestic and international tourists.  With millions visiting year round, the city has to constantly reinvent itself with fun and fresh events, attractions and restaurants.  But don't worry, Washington D.C. is the place to enjoy the museums and shopping during the day, and some of the best restaurants in the country during the night. Whether you're visiting for business or leisure, this city will charm any visitor.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Book a best Hotel in Washington dc, Get best deals and discounts</h2>
</div>
