<div class="wrapp">
<div class="full-details">
<br />
<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Washington D.C. is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Metro SmartTrip Card. It's an all-in-one card for public transport and saves your money at the same time. You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in Washington D.C.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Washington D.C. has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Washington D.C. is massive.  There is a bus going somewhere at every second of the day.  With hundreds of routes, taking the bus around Washington D.C. and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses, rail, and trams around the city.  To plan your trips or for more general information on bus transportation, the city's transportation website is going to be your best friend.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including Washington D.C..  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>

<h6 class="h6-about">Dulles International Airport (IAD)</h6>
<p class="para">Roughly 26miles from Washington D.C., this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares.  Taxis will cost around $65 to get to downtown D.C. and surrounding areas, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times. </p> 

<h6 class="h6-about">Reagan National Airport (DCA)</h6>
<p class="para">Located across the river in Virginia, this airport is only five miles from D.C. this is the closest option. The airport's website has plenty of info on times and fares for public transportation. A taxi will cost around $15 from the airport to the city.  </p> 

<h5 class="h5-about" id="history">Washington D.C.'s History</h5>
<p class="para">Washington D.C. is the United States' capital and was selected as the home of the nation by our first president George Washington. It has been the center of politics for not only the country, but the entire world. It's a diverse community of politicians, students, tourists and residents whose families started this country. From a small settlement back in the 1600's to a powerful capital today, Washington D.C. has made history for more than just its name.</p>

<h5 class="h5-about" id="neighborhoods">Neighborhoods</h5>
<p class="para">Washington D.C. is divided into 20+ neighborhoods full of fun, food, and people from all over the world.  Each area has its own unique feel and purpose, making Washington D.C. feel like multiple cities all rolled into one.  </p>

<h6 class="h6-about">Arts District/U Street/Shaw</h6>
<p class="para">If you're looking for the performing arts, night clubs and the music scene, check out the Arts District. It's full of clubs, theatres, and local's favorite restaurants.</p>

<h6 class="h6-about">Capitol Hill</h6>
<p class="para">Capitol Hill is full of suits and business. Home to the Capitol Building, U.S. Supreme Court and the Library of Congress, this area of the city is one of the most famous tourist attractions. Great food and markets can also be found here. </p>
<h6 class="h6-about">Georgetown</h6>
<p class="para">Washington D.C.'s revamped and most-expensive neighborhood is home to the beautiful Georgetown University. Tree-lined streets, mansions, high-end shopping and the best restaurants make this a must-see.  </p>

<h6 class="h6-about">Foggy Bottom</h6>
<p class="para">Foggy Bottom got its name from the fog that would rise from the nearby Potomac River. This infamous neighborhood is home to the Kennedy Center of the Performing Arts, Watergate and is a politician's playground.  </p>

<h5 class="h5-about" id="dining">Dining</h5>
<p class="para">Washington D.C. is a great mix of cuisines, with big influences from the many international cuisines. With being one of the country's best dining destinations, it has developed an exciting restaurant scene.  And a scene it is. With world-class chefs, over-the-top menus, and international dining experiences, Washington D.C. is well worth eating your way through. The city boasts an incredible amount of restaurants, and one of the best places to grab a meal and see the President at the same time.</p>

<h6 class="h6-about">Breakfast</h6>
<h6 class="h6-about">A Baked Joint</h6>
<p class="para">This cafe and bakery is very popular with the locals. They specialize in breakfast sandwiches on their very own baked breads.  Oatmeal, quiche and toast are also available. </p>
<h6 class="h6-about">Tony's Breakfast</h6>
<p class="para">Tony's Breakfast is for the breakfast lover. Their famous fried chicken and waffles makes people line up to get in. Incredibly priced for the amount of food you get, this breakfast joint sources all their ingredients from locals.</p>
<h6 class="h6-about">Wicked Waffle</h6>
<p class="para">You can tell by the name that Wicked Waffle specializes in well, waffles. From waffle sandwiches to chicken and waffles, to healthier egg whites and tomato items, Wicked Waffle is a winner with both locals and tourists.   </p>
<h6 class="h6-about">Ted's Bulletin</h6>
<p class="para">Located in Capitol Hill, Ted's Bulletin is a breakfast joint you don't want to miss. With unique options like beer biscuits and gravy, and homemade pop tarts with Nutella and bacon, this place is worth a try.  </p>
<h6 class="h6-about">Sidamo Coffee & Tea</h6>
<p class="para">You want coffee? You want breakfast? Go here. Celebrated as the best coffee in town by many, Sidamo Coffee & Tea is a great breakfast option if you're wanting something light or on the go to pair nicely with your fair-trade, organic coffee. </p>

<h6 class="h6-about">Lunch</h6>
<h6 class="h6-about">Bub and Pop's</h6>
<p class="para">Bub and Pop's offers up incredible sandwiches in a casual atmosphere. Plenty of options to choose from including homemade kettle chips, pickles, salads and soups. A local institution, you won't want to miss out on a hoagie from here.  </p>
<h6 class="h6-about">White Apron Specialty Sandwiches</h6>
<p class="para">With over 20 different options to choose from, White Apron is the sandwich king of D.C. Homemade bread, ample ingredients, fresh meats and cheese and unique dressings make this very popular. </p>
<h6 class="h6-about">Beef N' Bread</h6>
<p class="para">Located in Chinatown, Beef N' Bread offers slow-roasted meats a' plenty. Roast Beef, Turkey and veggie options make this one-page menu easy to read but difficult to choose from. All served on a hamburger bun stacked with delicious meats and ingredients, it's great for any time of the day.</p>
<h6 class="h6-about">Basil Thyme</h6>
<p class="para">This food truck is all about lasagna and salad. Popular dishes like their Butternut Squash and Goat Cheese lasagna is a best-seller. They also have homemade cannoli for those who have a sweet tooth. </p>
<h6 class="h6-about">District Taco</h6>
<p class="para">This happening chain of restaurants offers up tasty Mexican food for the masses. Their menu consists of tacos, burritos, and plenty of extra sides and toppings to make your own combination. You can even order online and pick up your food when you're ready.  </p>

<h6 class="h6-about">Dinner</h6>
<h6 class="h6-about">Founding Fathers</h6>
<p class="para">Located in the famous Foggy Bottom neighborhood, this massive menu caters to every palate. From burgers to house-baked breads and dips to pastas to roast meats, this menu is as impressive as the food itself. </p>
<h6 class="h6-about">The Pig</h6>
<p class="para">Known for its BBQ, The Pig is all about the meat. From charceuterie to sausages to burgers, this restaurant is worth every bite. There are several other options as well like salads, cheeses, veggies and side dishes.</p>
<h6 class="h6-about">Barrel</h6>
<p class="para">A fun take on traditional menu items, Barrel keeps it quirky with fantastic options. Soups, side dishes, and mains like fried chicken and house-made pastas round out the menu. Pair dinner with one of their hand-crafted cocktails for a perfect meal. </p>
<h6 class="h6-about">Old Ebbitt Grill</h6>
<p class="para">Only steps from the White House, Old Ebbitt Grill opened its doors in 1856 and has been serving presidents, tourists, officials and celebrities since. Their menu relies heavily on the grill with plenty of seafood, steak, oysters, roasted chicken and more. For a traditional American cuisine dinner with style, go here. </p>
<h6 class="h6-about">Rose's Luxury</h6>
<p class="para">If you're looking for a tapas-style and cocktail kind of night, Rose's Luxury hits the nail on the head. A small menu packed with ingredient-rich small plates, Rose's is busy every night of the week. The restaurant is tiny and doesn't take reservations so go early, or eat in the bar upstairs.   </p>

<h5 class="h5-about" id="accomodation">Where to stay</h5>
<p class="para">Washington D.C. is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Hollywood and Beverly Hills.  </p>

<h6 class="h6-about">Luxury</h6>
<h6 class="h6-about">The Ritz-Carlton Washington D.C.</h6>
<p class="para">The Ritz-Carlton Washington D.C. is pure elegance. Located in the hustle and bustle of the West End, this hotel takes service to the next level.  This five-star luxury accommodation makes every guests feel at home. From the incredible spa services to club-level access to a long list of amenities, this luxurious hotel is the best of the best.</p>

<h6 class="h6-about">The Four Seasons Hotel </h6>
<p class="para">A mere mile from the White House, The Four Seasons is pure class. Plush furnishings, free Wi-Fi, marble bathrooms, sitting rooms and beautiful terraces are just a few of the amenities on offer. Add a full-service spa, indoor pool, fitness center and a beautiful cocktail lounge and restaurant to that, and you have the best in luxury in D.C.</p>

<h6 class="h6-about">The Sofitel Washington</h6>
<p class="para">The Sofitel Washington is for those who want elegance and style all rolled into one. This sophisticated, art-deco themed hotel comes with free Wi-Fi, 24-hour room service, a stylish lounge bar, fitness center and business center. All centrally located in downtown.   </p>

<h6 class="h6-about">Mid-range</h6>
<h6 class="h6-about">The Normandy</h6>
<p class="para">Located in Dupont Circle, a vibrant and great location in D.C., The Normandy offers great amenities just like the luxurious neighbors at half the price. Free hors d' oeuvres and cocktails are available nightly. Fitness room and pool are available at the sister hotel across the road. </p>

<h6 class="h6-about">Georgetown Suites</h6>
<p class="para">Located in the posh neighborhood of Georgetown, the Georgetown Suites offer large suites full of light. All rooms from studio to penthouse have a built-in kitchen, making it a great place to stay if you want to cook for yourself.</p>

<h6 class="h6-about">Hampton Inn Washington D.C.</h6>
<p class="para">Free Wi-Fi, hot breakfast, complimentary beverage area, business center, fitness center, and close proximity to the convention center and a pool are just some of the amenities available here. A great price and location, this Hampton Inn can barely be beat.    </p>

<h6 class="h6-about">Budget-Friendly</h6>
<h6 class="h6-about">District Hotel</h6>
<p class="para">A centrally located budget-friendly hotel, The District Hotel offers great amenities and one killer spot.  Located on a tree-lined street, the hotel offers free Wi-Fi, breakfast, cable TV and air-conditioning.</p>

<h6 class="h6-about">Windsor Inn Hotel</h6>
<p class="para">A simple hotel in Washington D.C., The Windsor Inn Hotel is located in Dupont Circle, close to public transportation. This budget-friendly hotel is decorated with a European flair, creating a comfortable and relaxing atmosphere. Guests of the hotel can enjoy free Wi-Fi, comfortable beds, continental breakfast and much more. </p>

<h6 class="h6-about">Days Inn Washington DC/Connecticut Ave</h6>
<p class="para">A little out of the downtown area, this Days Inn is close to public transport and less than two miles from the Smithsonian National Zoological Park. Rooms are basic but comfortable and come with cable TV, free Wi-Fi, tea/coffee makers and some even come with spa tubs.  </p>

<h6 class="h6-about">Americana Hotel</h6>
<p class="para">Across the Potomac River in Arlington, the Americana Hotel offers 60's-style rooms located less than a mile from the Ronald Reagan National Airport and Pentagon. The long list of amenities includes free Wi-Fi, free shuttle, microwave, free parking and free breakfast. </p>

<h6 class="h6-about">Red Roof Inn- Oxon Hill</h6>
<p class="para">Located about 10 miles from the hustle and bustle of the tourist attractions, the Red Rood Inn-Oxon Hill is a great budget find. Free Wi-Fi, flat-screen TVs, coffeemakers, and free parking are included in your stay. They even have free coffee in the lobby. </p>

<h6 class="h6-about">Club Quarters Hotel </h6>
<p class="para">For simple but affordable accommodation, the Club Quarters Hotel is the best option. Only a half-mile from the White House, this fantastically-located hotel offers free Wi-Fi, free bottled water, fitness center and tea/coffeemakers. Upgraded rooms include kitchenettes for those wanting to do a little cooking.  </p>

<h5 class="h5-about pdng-tp30" id="attractions">Washington D.C.'s best attractions</h5>
<p class="para">Washington D.C. is jam packed with fun places to visit, neighborhoods to explore, beaches to swim at, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Washington D.C. an iconic city, and keep tourists coming back for more year after year. </p>

<h6 class="h6-about">The White House</h6>
<p class="para">Everyone wants to see the White House. That's one of the main reasons why you travel to D.C. The White House is open for tours regularly, but you must book in advance. See where the President lives, the many rooms of the White House and where history is made year after year. </p>

<h6 class="h6-about">Lincoln Memorial</h6>
<p class="para">This famous national park is visited each year by millions. A beautiful example of architecture, art and history, the Lincoln Memorial is an attraction you don't want to miss. Celebrating the 16th President, Abraham Lincoln, this memorial encompasses a wonderful memory of a man who changed the U.S. for years to come. </p>

<h6 class="h6-about">The John F. Kennedy Center for the Performing Arts</h6>
<p class="para">A famous and beautiful center to catch a show, event, or theatre production, the JFK Center for the Performing Arts is a fantastic addition to your trip.  The Washington National Opera, the National Symphony Orchestra and The Suzanne Farrell Ballet are all housed in this impressive center. Buy tickets in advance to get in as tickets go fast for any show.</p>

<h6 class="h6-about">The Smithsonian</h6>
<p class="para">The mecca of museums and exhibits, The Smithsonian is the largest collection of museums in the world. From art & design to history & culture, the Smithsonian museums cover all the bases. You can spend an entire week visiting these and not scratch the surface.</p>

<h5 class="h5-about" id="freeActivities">Free activities</h5>
<p class="para">Washington D.C. is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and dancing are just the beginning.   </p>

<h6 class="h6-about">National Museum of Women in the Arts</h6>
<p class="para">This is the only museum in the world that recognizes only women in the arts. With many exhibits, it's a great day out. Every first Sunday of the month is free for everyone. </p>

<h6 class="h6-about">National Archives</h6>
<p class="para">Visiting the National Archives is a pretty special experience. Here, you're able to see the original Declaration of Independence and the U.S. Constitution Bill of Rights.    </p> 

<h5 class="h5-about" id="mustsee">Local's favorites</h5>
<p class="para">There are just some places in Washington D.C. that locals find themselves visiting, recommending, and loving.  Being a true local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">A Day at the National Zoo</h6>
<p class="para">Washington D.C. locals love to go out and enjoy a day at the zoo. The National Zoo is known for its giant panda exhibit, as well as their neighbors the red pandas. The pandas are a local celebrity in D.C. and are great to watch play. </p>

<h6 class="h6-about">Going to Georgetown</h6>
<p class="para">Shopping, eating and being seen in Georgetown is all the rage. Enjoy a nice day out in the richest neighborhood in D.C. shopping at high-fashion boutiques, enjoy local artisan foods and a walk around the campus of Georgetown University.   </p>

<h5 class="h5-about" id="safety">Being Safe in New Orleans</h5>
<p class="para">Washington D.C. is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.      </p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost. </P>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.      </p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.   </p>

</div>
</div>