@font-face {
    font-family: gotham;
    src: url(../fonts/Gotham-Light.eot);
    src: url(../fonts/Gotham-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Gotham-Light.svg#Gotham) format('svg'), url(../fonts/Gotham-Light.woff) format('woff'), url(../fonts/Gotham-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/GothamBook.eot);
    src: url(../fonts/GothamBook.eot?#iefix) format('embedded-opentype'), url(../fonts/GothamBook.svg#Gotham) format('svg'), url(../fonts/GothamBook.woff) format('woff'), url(../fonts/GothamBook.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/Gotham-Medium.eot);
    src: url(../fonts/Gotham-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Gotham-Medium.svg#Gotham) format('svg'), url(../fonts/Gotham-Medium.woff) format('woff'), url(../fonts/Gotham-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/Gotham-Bold.eot);
    src: url(../fonts/Gotham-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Gotham-Bold.svg#Gotham) format('svg'), url(../fonts/Gotham-Bold.woff) format('woff'), url(../fonts/Gotham-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #666 !important;
    background: #fff !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none;
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    color: #2b95bc;
    margin: 0;
    padding: 0;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

a:focus, button:focus {
    outline: 0;
}

hgroup {
    border-bottom: 1px solid #eceff1;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 1px solid #f07d25;
    text-transform: uppercase;
    padding: 13px 0;
}

.container {
    max-width: 1247px;
    margin: 0 auto;
    position: relative;
}

#container {
    min-height: 250px;
}

.container:after {
    content: '';
    height: 0;
    width: inherit;
    clear: both;
    display: block;
}

@font-face {
    font-family: navicon;
    src: url(../icons/navicon.eot);
    src: url(../icons/navicon.eot#iefix) format("embedded-opentype"), url(../icons/navicon.woff) format("woff"), url(../icons/navicon.ttf) format("truetype"), url(../icons/navicon.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

[class*=" icon-"]:after, [class*=" icon-"]:before, [class^=icon-]:after, [class^=icon-]:before {
    font-family: navicon;
    font-size: 16px;
    font-style: normal;
}

.icon-airplane:before {
    content: "\e000";
}

.icon-cruise:before {
    content: "\e001";
}

.icon-facebook:before {
    content: "\e002";
}

.icon-google:before {
    content: "\e003";
}

.icon-home:before {
    content: "\e004";
}

.icon-hotel:before {
    content: "\e005";
}

.icon-pinterest {
    margin-top: 8px !important;
}

.icon-pinterest:before {
    content: "\e006";
    font-size: 32px;
    line-height: 17px;
}

.icon-restaurant:before {
    content: "\e007";
}

.icon-twitter:before {
    content: "\e008";
}

header {
    position: relative;
}

h1 {
    position: absolute;
    left: 25px;
    top: 16px;
    z-index: 99;
}

h1 a {
    width: 267px;
    height: 80px;
    display: block;
    background: url(../images/tripreviewer.png) 0 0/100% no-repeat;
}

a:focus, a:hover {
    text-decoration: none !important;
}

nav ul {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #919ca4;
    text-transform: uppercase;
    padding: 42px 0 39px;
}

nav ul li {
    display: inline-block;
    padding: 0 13px;
}

nav ul li a {
    color: #919ca4;
    display: block;
}

.social_block a:hover, nav ul li a:hover {
    color: #3d464d;
}

nav ul li.active a {
    color: #3d464d;
    cursor: default;
}

nav ul li a span {
    display: block;
    padding-bottom: 9px;
    font-style: normal;
}

.social_block {
    width: 255px;
    position: absolute;
    right: 10px;
    top: 41px;
}

.social_block a {
    color: #919ca4;
    display: block;
    float: left;
    margin: 11px 5px;
}

.social_block a.login {
    width: 114px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    float: left;
    background: #2e95bb;
    margin: 0 0 0 10px;
    display: none;
}

.social_block a.register {
    display: none;
    width: 114px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    float: left;
    background: #919ca4;
    margin: 0 0 0 10px;
}

.social_block a.login:hover, .social_block a.register:hover {
    color: #fff;
}

.banner {
    padding: 50px 0 20px;
    background: url(../images/banner_bg_01.jpg) no-repeat, url(../images/banner_bg_02.jpg) 480px top no-repeat, url(../images/banner_bg_03.jpg) 960px top no-repeat, url(../images/banner_bg_04.jpg) 1440px top no-repeat;
}

.banner.inner {
    height: 323px;
}

.search_box_parent {
    width: 888px;
    margin: 0 auto;
    position: relative;
}

.norecord {
    width: 100%;
    text-align: center;
}

#sorter {
    margin-top: 10px;
}

.search_box_parent .error {
    width: 96%;
    padding: 2%;
    background: rgba(204, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: -50px;
    border-radius: 5px;
}

.search_box {
    width: 796px;
    background: rgba(0, 0, 0, .7);
    border: none;
    border-radius: 5px;
    padding: 18px 46px;
    margin: 0 auto;
}

/*.search_box dl:after, .search_box :after {
    content: ' ';
    width: 100%;
    height: 0;
    display: block;
    clear: both;
}*/

.search_box ul {
    border-bottom: #616d8a solid 1px;
    float: left;
    margin-bottom: 14px;
    width: 100%;
}

/*

.search_box ul li {
    font-size: 14px;
    color: #627491;
    float: left;
    padding: 15px 65px 15px 0;
    font-weight: 500;
    text-transform: uppercase;
}
*/

/*.search_box ul li:last-child {*/
/*padding-right: 0;*/
/*}*/

/*.search_box ul li a {*/
/*color: #ccc;*/
/*}*/

/*.search_box ul li a.active, .search_box ul li a:hover {*/
/*color: #FFF;*/
/*border-bottom: #f07d25 solid 1px;*/
/*padding-bottom: 16px;*/
/*}*/

.search_box article {
    clear: both;
}

.search_box .block {
    width: 48%;
    float: left;
    margin-right: 2%;
    /*margin-bottom: 20px;*/
    position: relative;
}

span.suberror {
    position: absolute;
    width: 90%;
    height: 20px;
    line-height: 20px;
    padding: 2%;
    font-size: 13px;
    text-align: left;
    color: #bd0900;
    background: #ecaeae;
    border: 1px solid #fcc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .0980392) 1px 1px 2px 0;
    left: 0;
    bottom: -42px;
    z-index: 9999;
}

.expand span.suberror {
    width: 45%;
}

span.suberror {
    padding: 1%;
    width: 25%;
    left: 14.5%;
    top: 110px;
}

.advanced span.suberror {
    left: 59.5%;
    top: 290px;
}

.menulist .categorie_ttl {
    font-size: 2em;
    background: #eee;
    color: #000;
    padding: 10px;
}

.menusubttl {
    background: #2b95bc;
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
}

.menulisting div.col-xs-12 {
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 10px 0;
}

.menulist .powered {
    padding: 10px 0 30px;
    text-align: center;
}

.menulist .menudesc {
    font-size: .8em;
}

.menulist .sectionHeader {
    font-size: 1em;
    font-style: italic;
}

span.suberror:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ecaeae;
    top: -50%;
    left: 30px;
}

.search_box .block.expand input {
    width: 75%;
}

.search_box .block.expand select {
    width: 80%;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 10px 9px;
    color: #fff;
    margin-right: 10px;
}

.search_box h3 {
    font-size: 15px;
    color: #f07d25;
    padding: 16px 0 8px;
}

.search_box label {
    font-size: 13px;
    color: #fff;
    padding: 0 0 9px;
    display: block;
    float: left;
}

.search_box label.checkout {
    margin-left: 125px;
}

.search_box input {
    width: 89%;
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 10px 9px;
    color: #fff;
}

.search_box dl {
    font-size: 13px;
    color: #FFF;
    padding: 0 4px;
    position: relative;
}

.search_box dl input {
    width: 91%;
    background: url(../images/date.png) 96% center no-repeat rgba(255, 255, 255, .2);
}

.search_box .datepick input {
    width: 42%;
    cursor: pointer;
}

.search_box dt {
    width: 47%;
    float: left;
    color: #FFF;
    margin-right: 20px;
}

.search_box dd {
    width: 47%;
    float: left;
    color: #FFF;
}

.search_box dd.right {
    margin-top: 25px;
}

.search_box dd.right label, .search_box dd.right select {
    display: none !important;
}

.search_box .button {
    background: #2e95bb;
    margin: 31px 0 13px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    color: #FFF;
    float: left;
    width: 158px;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

.search_box .review a {
    margin-right: 20px;
    display: inline-block;
}

.ui-autocomplete-input {
    background-image: none !important;
}

.search_box .category select {
    width: 89%;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 10px 9px;
    color: #fff;
}

.search_box .block select option, .search_box .category select option {
    color: #6f6f6f;
    line-height: 2em;
    background: #fff;
}

/*.banner.search h3, .banner.search ul {*/
/*display: none;*/
/*}*/

::-webkit-input-placeholder {
    color: #dfdfdf;
}

:-moz-placeholder {
    color: #dfdfd;
}

::-moz-placeholder {
    color: #dfdfdf;
}

:-ms-input-placeholder {
    color: #dfdfdf;
}

.search_box .category .left {
    width: 20%;
    margin-right: 0%;
}

.search_box .category .left .ui-autocomplete-input {
    width: 50%;
}

.search_box .category .middle {
    width: 15%;
    margin-right: 1%;
}

.search_box .category .right label {
    width: 100%;
}

.search_box .category .right select {
    width: 15%;
}

.search_box .category .right .button {
    background: #2e95bb;
    margin: 0;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    color: #FFF;
    float: none;
    width: auto;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 25px;
    display: none;
}

.banner.search .category .right .button {
    display: inline-block;
}

.banner.search .button, .banner.search .review {
    display: none;
}

.banner.search {
    background: url(../images/Hotel_searchpage_bg.png) no-repeat #000;
    padding: 15px 0 20px;
}

.banner.search .search_box_parent {
    background: 0 0;
}

.banner.search {
    display: block;
    position: relative;
}

{
    padding: 15px 0
;
    display: none
;
}

.weather_block {
    width: 380px;
    margin-right: 20px;
    float: left;
    min-height: 100px;
}

.weather_block_four {
    width: 100%;
    margin-right: 20px;
    float: left;
}

h6 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 22px;
    height: 18px;
    overflow: hidden;
}

.display {
    width: 110px;
    margin-right: 10px;
    float: left;
}

.display img {
    width: 40px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.display label {
    display: block;
    width: 100%;
    font-size: 13px;
}

.display span {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #fff;
    padding: 5px 0;
}

.search_block input {
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 11px 9px;
    color: #fff;
}

.button {
    background: #2e95bb;
    margin: 0 0 0 5px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    color: #FFF;
    float: none;
    width: auto;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    display: inline-block !important;
    padding: 0 25px;
}

.search_block input {
    width: 25%;
}

.search_block select {
    width: 13%;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 10px 9px;
    color: #fff;
    margin-right: 10px;
}

.search_block select option {
    color: #6f6f6f;
    line-height: 2em;
}

.next_btn {
    display: block;
    width: auto;
    float: right;
}

.prev_btn {
    display: block;
    width: auto;
    float: left;
}

.ui-autocomplete {
    margin: 0;
    padding: 10px;
    list-style: none;
    background: #fff;
    border: 1px solid #bbb;
    max-height: 25em;
    overflow-y: scroll;
    width: 218px;
    line-height: 1.3em;
}

.ui-autocomplete li {
    padding: 10px 5px;
}

.ui-autocomplete li:hover {
    background: #F3F3F3;
    cursor: pointer;
}

.ui-autocomplete-category {
    font-weight: 700;
    padding: 10px 10px 10px 25px !important;
    border-bottom: 1px solid #e8e8e8;
    line-height: 25px;
    background: url(../images/search_icons.png) -5px 8px no-repeat;
    display: block !important;
}

li.ui-autocomplete-category:hover {
    background-color: transparent !important;
    background-image: url(../images/search_icons.png);
    background-position: -5px 8px;
    background-repeat: no-repeat;
    cursor: default;
}

.ui-autocomplete-category.airports, li.ui-autocomplete-category.airports:hover {
    background-position: -5px -33px;
}

.ui-autocomplete-category.hotels, li.ui-autocomplete-category.hotels:hover {
    background-position: -5px -72px;
}

.ui-autocomplete-category.pointsofinterest, li.ui-autocomplete-category.pointsofinterest:hover {
    background-position: -5px -108px;
}

.custom-autocomplete .ui-corner-all {
    border-radius: 0 !important;
}

.custom-autocomplete a {
    color: #2B95BC !important;
}

.custom-autocomplete a.ui-state-focus {
    background: 0 0 !important;
    border: none;
    margin: 0;
}

.popular_dest .hgroup {
    text-align: center;
    margin-bottom: 20px;
}

.popular_dest h2 {
    display: inline-block;
}

.popular_dest figure {
    box-sizing: content-box !important;
    width: 256px;
    /*padding: 7px;*/
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 5px;
    text-align: center;
    margin: 28px 25px 28px 0;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1);
}

.popular_dest figure:hover {
    background: #ececec;
}

.popular_dest figure:before {
    content: '';
    background: url(../images/location.png) no-repeat center rgba(240, 125, 37, .7);
    position: absolute;
    /*top: 7px;*/
    /*left: 7px;*/
    width: inherit;
    height: 182px;
    display: none;
}

.popular_dest figure:hover:before {
    display: block;
}

.popular_dest figure img {
    width: inherit;
    height: 182px;
    box-sizing: content-box !important;
}

.popular_dest figure:nth-child(4n+4) {
    margin-right: 0;
}

.endmrg {
    margin-right: 0 \0/ !important;
}

.popular_dest figcaption {
    padding: 20px;
}

.popular_dest figcaption h6 {
    font-size: 16px;
    color: #262626;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
}

.popular_dest figure:hover h6 {
    color: #f07d25;
}

.popular_dest figcaption p {
    padding-bottom: 8px;
}

.content {
    padding: 27px 0;
}

.content .mainblock {
    width: 78.909382518043%;
    padding-right: 3.7690457097033%;
    float: left;
    line-height: 20px;
    position: relative;
}

.content .mainblock:after {
    content: '';
    background: #eee;
    width: 1px;
    height: 100%;
    position: absolute;
    right: -1px;
    z-index: 9;
    top: 0;
}

.content .mainblock h6 {
    font-size: 15px;
    color: #2b95bc;
    font-weight: 500;
    margin-top: 45px;
}

.content p {
    padding: 14px 0;
    font-size: 14px;
}

.content b a {
    text-decoration: underline;
}

.roman {
    list-style: lower-roman;
    padding-left: 3em;
}

.sub {
    padding-left: 15px;
}

.content:after {
    content: '';
    clear: both;
    height: 0;
    width: 100%;
    display: block;
}

.content .advertise {
    padding: 23px 21px;
    background: #2b95bc;
    color: #fff;
    border-radius: 5px;
    font: inherit;
}

.content .advertise h6 {
    font-weight: 600;
    display: inline-block;
    font-size: 15px;
}

.content .advertise p {
    display: inline-block;
    padding: 0;
}

.content aside {
    width: 17.321571772253%;
    float: right;
    position: relative;
    z-index: 20;
}

.content ul li.active a {
    font-size: 15px;
    color: #2b95bc;
    font-weight: 600;
    border-left: 1px solid #f17d24;
}

aside ul li a {
    font-size: 14px;
    color: #98a3aa;
    padding: 15px 0 15px 15px;
    border-left: 1px solid #eceff1;
    display: block;
}

aside ul li a:hover {
    color: #2b95bc;
    border-left: 1px solid #f17d24;
}

footer {
    border-top: 1px solid #ececec;
    padding: 44px 0;
    font-size: 13px;
    color: #6f6f6f;
}

footer .container {
    position: relative;
}

footer ul {
    padding-bottom: 18px;
}

footer ul li {
    display: inline-block;
}

footer ul li:after {
    content: '|';
}

footer ul li:last-child:after {
    content: '';
}

footer ul li:first-child a {
    margin-left: 0;
}

footer ul li a {
    color: inherit;
    display: inline-block;
    margin: 0 18px;
}

footer ul li a:hover {
    color: #f07d25;
}

footer .logo {
    position: absolute;
    top: 30px;
    right: 0;
}

footer p {
    line-height: 22px;
}

.home #feedbackify {
    visibility: hidden;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: -70px;
    right: -40px;
    background: url(../images/scrolltotop.png) no-repeat 0;
}

.phone {
    background: url(../images/phone.png) no-repeat 3px -1px;
    padding-left: 20px;
}

.booknow, .booknow:active, .booknow:hover {
    cursor: pointer;
    background: #90E000;
    padding: 5px 17px;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}

.detaildisplay {
    display: none;
}

#cboxOverlay, #cboxWrapper, #colorbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxBottomLeft, #cboxMiddleLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingGraphic, #cboxLoadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#cboxContent, #cboxLoadedContent, #colorbox {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#cboxOverlay {
    background: #fff;
    opacity: .9;
    filter: alpha(opacity=90);
}

#colorbox {
    outline: 0;
}

#cboxTopLeft {
    width: 25px;
    height: 25px;
    background: url(../images/border1.png) no-repeat;
}

#cboxTopCenter {
    height: 25px;
    background: url(../images/border1.png) 0 -50px repeat-x;
}

#cboxTopRight {
    width: 25px;
    height: 25px;
    background: url(../images/border1.png) -25px 0 no-repeat;
}

#cboxBottomLeft {
    width: 25px;
    height: 25px;
    background: url(../images/border1.png) 0 -25px no-repeat;
}

#cboxBottomCenter {
    height: 25px;
    background: url(../images/border1.png) 0 -75px repeat-x;
}

#cboxBottomRight {
    width: 25px;
    height: 25px;
    background: url(../images/border1.png) -25px -25px no-repeat;
}

#cboxMiddleLeft {
    width: 25px;
    background: url(../images/border2.png) repeat-y;
}

#cboxMiddleRight {
    width: 25px;
    background: url(../images/border2.png) -25px 0 repeat-y;
}

#cboxContent {
    background: #fff;
    overflow: hidden;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    margin-bottom: 20px;
}

#cboxTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #999;
}

#cboxCurrent {
    position: absolute;
    bottom: 0;
    left: 100px;
    color: #999;
}

#cboxLoadingOverlay {
    background: url(../images/loading.gif) 5px 5px no-repeat #fff;
}

#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0 0;
}

#cboxClose:active, #cboxNext:active, #cboxPrevious:active, #cboxSlideshow:active {
    outline: 0;
}

#cboxSlideshow {
    position: absolute;
    bottom: 0;
    right: 42px;
    color: #444;
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #444;
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 63px;
    color: #444;
}

#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    color: #444;
}

.cboxIE #cboxBottomCenter, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight, .cboxIE #cboxTopCenter, .cboxIE #cboxTopLeft, .cboxIE #cboxTopRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 700px) {
    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: .438em .625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
    line-height: 1.188em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: .188em 0 0 .438em;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: .125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: .188em;
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav li:first-child {
    display: none;
}

.slicknav_nav li, .slicknav_nav ul {
    display: block;
}

.slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    display: block;
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_menu:after, .slicknav_menu:before {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    clear: both;
}

.slicknav_menu {
    font-size: 16px;
    width: 100%;
}

.slicknav_btn {
    margin: 18px 5px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slicknav_menu .slicknav_menutxt {
    color: #FFF;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #8f9ca5;
}

.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: .875em;
}

.slicknav_nav li span {
    padding: 0 8px 0 0;
}

.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    padding: 0;
    margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding: 15px 10px;
    margin: 2px 5px;
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #919ca4;
}

.slicknav_nav a.active {
    color: #3d464d;
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #fff;
}

.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #222;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.gallery {
    width: 45%;
    height: 255px;
    float: right;
    overflow: auto;
}

.gallery figure {
    width: 78px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

.gallery figure img {
    width: 100%;
}

.gal_block a {
    display: none;
}

.gal_block a:first-child {
    display: block;
}

.search_box .button[disabled] {
    background-color: #929ca5 !important;
}

.search_container {
    width: 1250px;
}

.sidebar {
    width: 264px;
    border-right: 1px solid #ebebeb;
    padding-right: 15px;
    font-size: 13px;
    margin-bottom: 15px;
    float: left;
}

.sidebar h2 {
    border: none;
}

.sidebar h4 {
    display: block;
    color: #388ebd;
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar label {
    display: block;
    line-height: 16px;
    vertical-align: text-bottom;
    height: 16px;
    padding: 3px;
    margin-left: -3px;
}

.sidebar label input[type=radio] {
    margin: 0 8px 0 0;
}

.sidebar .price, .sidebar .star_rating, .sidebar .tarating {
    margin-bottom: 25px;
    padding-left: 10px;
}

.sidebar .filter-block {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #eee;
}

.sidebar p {
    text-align: center;
    margin-top: 17px;
}

.sidebar .filter-block .ui-slider .ui-slider-handle {
    padding: 0;
}

.sort_bar {
    background: #F6F2F1;
    border-radius: 5px;
    font-size: 16px;
    padding: 11px;
    /*height: 20px;*/
}

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
    height: 0;
    width: 100%;
    position: relative;
}

.inline-list {
    list-style: none;
    display: inline;
}

.inline-list li {
    float: left;
    margin-right: 10px;
}

.inline-list li a {
    padding: 10px;
    margin-left: 5px;
}

.sort_bar ul li a {
    text-transform: capitalize;
    color: #807e7f;
}

.sort_bar ul li a.active {
    color: #388EBD;
}

.sort_bar ul li a.active.up:after {
    color: #388EBD;
    margin-right: 5px;
    background: url(images/ui-icons_2e83ff_256x240.png) 255px 1px;
    content: " ";
    height: 20px;
    width: 11px;
    position: absolute;
}

.sort_bar ul li a.active.down:after {
    color: #388EBD;
    margin-right: 5px;
    background: url(images/ui-icons_2e83ff_256x240.png) 190px 1px;
    content: " ";
    height: 20px;
    width: 11px;
    position: absolute;
}

.results_block {
    margin: 10px 0;
}

.listing-contents {
    margin: 0 0 15px 275px;
}

.listing-contents:after, .static-ratings:after {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    clear: both;
}

.listing {
    min-height: 177px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 8px;
    position: relative;
    float: left;
    width: 100%;
}

.list_block {
    float: left;
}

.listing img.hotel_pic {
    width: 260px;
    height: auto;
    min-height: 175px;
    margin-right: 15px;
    max-height: 175px;
}

.listing h5 {
    font-size: 14px;
}

.listing .location {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 150px;
    position: relative;
}

.listing .location .location-icon {
    background: url(../images/location_listing.jpg) top right no-repeat;
    position: absolute;
    right: 0;
    top: 3px;
    width: 12px;
    height: 20px;
    zoom: 1;
}

.listing .rate_block {
    width: 109px;
    padding: 20px;
    border-left: 1px solid #eceff1;
}

/*.rate_block {
    text-align: center;
}*/

.rate_block h3 {
    font-weight: 700;
}

.listing h3 {
    font-size: 30px;
}

.listing .foursquare_data img {
    float: left;
}

.listing .foursquare_data > span {
    float: left;
    line-height: 40px;
    font-size: 11px;
}

.static-rating {
    border-right: 1px solid #efefef;
    display: block;
    background-image: url(../images/static-ratings.jpg);
    text-indent: -9999em;
    width: 90px;
    height: 20px;
    padding-right: 5px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: 0 -15px;
}

.static-tr-rating {
    display: block;
    background-image: url(../images/static-tr-rating.jpg);
    text-indent: -9999em;
    width: 110px;
    height: 20px;
    padding-right: 5px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.static-rating.rating-0 {
    background-position: 0 -55px;
    display: none;
}

.static-rating.rating-5 {
    background-position: -75px 5px;
}

.static-rating.rating-10 {
    background-position: -75px -15px;
}

.static-rating.rating-15 {
    background-position: -56px 5px;
}

.static-rating.rating-20 {
    background-position: -56px -15px;
}

.static-rating.rating-25 {
    background-position: -37px 5px;
}

.static-rating.rating-30 {
    background-position: -37px -15px;
}

.static-rating.rating-35 {
    background-position: -18px 5px;
}

.static-rating.rating-40 {
    background-position: -18px -15px;
}

.static-rating.rating-45 {
    background-position: 0 5px;
}

.static-rating.rating-50 {
    background-position: 0 -15px;
}

.static-tr-rating.rating-0 {
    background-position: 0 20px;
}

.static-tr-rating.rating-10 {
    background-position: -96px -34px;
}

.static-tr-rating.rating-15 {
    background-position: -72px 3px;
}

.static-tr-rating.rating-20 {
    background-position: -72px -34px;
}

.static-tr-rating.rating-25 {
    background-position: -48px 3px;
}

.static-tr-rating.rating-30 {
    background-position: -48px -34px;
}

.static-tr-rating.rating-35 {
    background-position: -24px 3px;
}

.static-tr-rating.rating-40 {
    background-position: -24px -34px;
}

.static-tr-rating.rating-45, .static-tr-rating.rating-50 {
    background-position: 0 3px;
}

.block {
    display: block;
}

.pad-top-5 {
    padding-top: 5px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-35 {
    padding-top: 35px;
}

.pad-left-5 {
    padding-left: 5px;
}

.pad-left-15 {
    padding-left: 15px;
}

.clear {
    clear: both;
}

.btn {
    background: #fff;
    border: 2px solid #666;
    border-radius: 25px;
    font-size: 12px;
    color: #666;
    float: left;
    padding: 0 28px;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
}

.action {
    padding: 0 28px;
    background: #52c15a;
    border: 2px solid #52c15a;
    border-radius: 25px;
    font-size: 12px;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    min-width: 92px;
    color: #fff;
}

.action.disable {
    background: #eee;
    color: #666;
    border: 2px solid #eee;
    cursor: default;
}

.btn:first-child {
    margin-left: 0 !important;
}

.btn.primary {
    background: #2E95BB;
    color: #fff;
    border: none;
}

.resbtn .btn.action {
    min-width: 90px;
}

.resbtn .btn {
    margin-left: 18px;
}

.list_block {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.popup_block {
    padding: 20px;
    background: #dde1e4;
}

.review_cont {
    background: #fff;
    padding: 32px;
}

.avgtooltipcontent {
    display: none;
}

.avgtooltipcontent dl, .ui-tooltip dl {
    padding: 5px 0;
}

.avgtooltipcontent dt, .ui-tooltip dt {
    width: 120px;
    display: inline-block;
}

.avgtooltipcontent dd, .ui-tooltip dd {
    display: inline-block;
}

.arrow:after, .ui-tooltip {
    background: #fff !important;
}

.ui-tooltip {
    box-shadow: 0 0 7px #000;
    border: none !important;
    border-radius: 0 !important;
}

.ui-tooltip-content {
    color: #919ca4;
    font-size: 13px;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #efefef;
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.carousel-block {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 10px;
    width: 50%;
    padding: 0;
    float: left;
}

.bx-wrapper li {
    text-align: center;
    width: 416px !important;
}

.bx-wrapper img {
    width: 100%;
    display: inline-block;
    height: auto;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    left: 20px;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    height: 255px !important;
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    position: absolute;
    bottom: -33px;
    width: 100%;
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #000;
}

.bx-wrapper .bx-prev {
    left: 45px;
    background: url(../images/controls.png) 0 -32px no-repeat;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) -43px -32px no-repeat;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(80, 80, 80, .75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

.review_panel {
    max-width: 944px;
    margin-bottom: 10px;
    position: relative;
}

.review_box:after, .review_pop:after {
    content: '';
    clear: both;
    width: 100%;
    height: 0;
    display: block;
}

.review_box {
    width: 98.513800424628%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: .74309978768578%;
}

.review_box.active {
    position: relative;
    z-index: 99;
}

.review_detail {
    width: 84.815618221258%;
    float: left;
    height: inherit;
    color: #666;
}

.review_preview {
    width: 34.585492227979%;
    margin-right: 1.2953367875648%;
    float: left;
}

.review_preview img {
    width: 100%;
    height: auto;
}

.review_desc {
    width: 64.119170984456%;
    float: left;
    height: inherit;
}

.review_desc h6 {
    margin: 1.5% 0;
    padding: 0;
    font-size: 1.5vw;
}

.review_desc .rate {
    padding-bottom: 2%;
}

.review_desc .rate img {
    width: 15%;
}

.review_desc .rate label {
    width: 100%;
    font-size: .9vw;
    display: inline-block;
    padding-bottom: 2%;
}

.review_desc .rate div {
    display: inline-block;
    width: 20% !important;
}

.review_desc .rate div:first-child {
    padding-right: 2%;
    border-right: 1px solid #666;
}

.review_desc .rate div:last-child {
    padding-left: 2%;
}

.review_desc .button_block {
    padding-top: 2%;
}

.review_desc .button_block a {
    display: inline-block;
    margin-right: 1%;
    padding: 2% 4%;
    border-radius: 35px;
    font-size: 1vw;
    color: gray;
    border: 2px solid #666;
    text-decoration: none;
}

.review_desc p {
    padding: 1% 0;
    margin: 0;
    font-size: 1vw;
}

.review_desc p.visit {
    font-size: .9vw;
    color: #919ca4;
}

.review_price {
    width: 14.09978308026%;
    padding-left: 1.0615711252654%;
    float: left;
    position: relative;
}

.review_price:before {
    width: 0;
    border-left: 1px solid #919ca4;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 0;
    content: '';
}

.check_price {
    text-transform: uppercase;
    color: #fff;
    padding: 10%;
    display: block;
    text-decoration: none;
    background: #52c257;
    text-align: center;
    border-radius: 30px;
    font-size: 1vw;
}

.price_tag {
    padding-top: 35%;
    padding-bottom: 13%;
    color: #666;
}

.price_tag span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1vw;
}

.price_tag label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    padding: 9% 0;
    font-weight: 700;
}

.review_pop {
    padding: 1.5889830508475%;
    width: 100%;
    position: relative;
    float: left;
    height: auto !important;
}

.review_pop.active {
    background: #dde1e4;
    display: block;
}

.review_pop.hidden {
    background: #dde1e4;
    display: none;
}

#hotelPhotos,
#nearby {
    min-height: 300px;
}

.pop_panel {
    width: 100%;
    padding: 0 3.5010940919037%;
    background: #fff;
    border-radius: 5px;
    float: left;
    height: auto !important;
}

.pop_panel .restuarants_preview, .pop_panel .write_reviews, .pop_panel hgroup, .pop_panel hgroup h2 {
    float: left;
    width: 100%;
}

.close_btn {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.restuarants_preview {
    width: 100%;
    float: left;
    list-style: none;
    color: #666;
}

.restuarants_preview li {
    width: 30.117647058824%;
    margin-right: 3.823529%;
    margin-top: 4.8235294117647%;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hotel_photos,
.nearby_rest {
    min-height: 257px;
}

.loadnearbyhot, .loadnearbyres {
    width: 92%;
    height: 65%;
    position: absolute;
    top: 85px;
    background: url(../images/loadings.gif) center 20px no-repeat #fff;
    text-align: center;
    display: block;
}

.loadnearbyres:before {
    content: 'Loading Near by Restaurants';
    width: inherit;
}

.loadnearbyhot:before {
    content: 'Loading Near by Hotels';
    width: inherit;
}

.restuarants_preview li .img-responsive {
    height: 50px;
}

.restuarants_preview li:nth-child(3n+3) {
    margin-right: 0;
}

.restuarants_preview li figure, .restuarants_preview li figure img {
    width: 100%;
    height: auto;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.restuarants_preview li figure {
    height: 160px;
    overflow: hidden;
}

.restuarants_preview li figure img {
    display: none;
}

.restuarants_preview li figure img:first-child {
    display: block;
}

.restuarants_preview li figcaption {
    padding: 5.859375% 4.6875%;
    width: 90.625%;
}

.restuarants_preview li figcaption label {
    display: block;
    font-size: .78vw;
    padding: 6% 0;
}

.restuarants_preview li figcaption h6 {
    font-size: 1vw;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.restuarants_preview li figcaption p {
    font-size: .9vw;
    padding-top: 5%;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.restuarants_preview li figcaption img {
    width: 15%;
}

.restuarants_preview li figcaption .star_rating {
    width: 38% !important;
}

.nav-tabs > li > a.disabel:hover {
    background: 0 0;
}

#checkrate {
    position: relative;
}

#checkrate .menu_head {
    position: absolute;
    left: 375px;
    top: 0;
}

#checkrate .menu_head.disable {
    color: #dfdfdf;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(223, 231, 238, .5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.review_pop {
    display: none;
}

.checkrates {
    text-align: center;
    color: #8f9da8;
    font-size: 14px;
    position: relative;
    z-index: 9999;
}

.checkrates th {
    font-size: 15px;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.checkrates td {
    padding: 5px;
    text-align: center;
    color: #388EBD;
    vertical-align: middle;
}

.checkrates .highlight {
    color: #f47c1b;
}

.checkrates thead tr {
    background: #2B95BC;
}

.checkrates tbody tr:nth-child(even) {
    background: #EEE;
}

.checkrates tbody tr:nth-child(odd) {
    background: #FFF;
}

.review_left {
    width: 350px;
    border-right: 1px solid #8f9da8;
    float: left;
}

.review_right {
    width: 426px;
    float: right;
    text-align: right;
}

.read_reviews_view li {
    width: 49%;
    float: right;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    color: #8f9da8;
    padding: 30px 0;
}

.read_reviews_view li:nth-child(odd) {
    text-align: left;
    border-right: 1px solid #8f9da8;
    float: left;
    width: 50%;
}

.read_reviews_view li span {
    width: 50%;
    float: left;
}

.read_reviews_view li.highlight {
    color: #f47c1b;
}

.write_reviews li {
    width: 135px;
    height: 40px;
    float: left;
    margin: 20px 102px 20px 0;
}

.write_reviews li img {
    max-width: 100%;
    display: block;
    float: left;
}

.write_reviews li a {
    display: block;
    float: left;
    width: auto;
}

.write_reviews li:nth-child(4n+4) {
    margin-right: 0;
}

.getname {
    margin-bottom: 25px;
}

.getname input {
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.getname a {
    background: #2b95bc;
    color: #fff;
    padding: 8px 18px;
    border-radius: 15px;
}

.resfilter-block {
    display: none;
}

.preload {
    background: url(../images/loadings.gif) center 50px no-repeat #fff;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.preload p {
    text-align: center;
    font-size: 14px;
    margin: 40px;
}

.preload.res {
    background: url(../images/loadings.gif) center 50px no-repeat #fff;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.loading-line {
    height: .3em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -moz-animation: loading 5s linear;
    -webkit-animation: loading 5s linear;
    animation: loading 5s linear;
    -moz-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
}

@-moz-keyframes loading {
    0% {
        background: #f07719;
        width: 0;
    }

    30% {
        background: #f07719;
        width: 15%;
    }

    55% {
        background: #f07719;
        width: 38%;
    }

    59% {
        background: #f07719;
        width: 45%;
    }

    66% {
        background: #f07719;
        width: 52%;
    }

    75% {
        background: #f07719;
        width: 57%;
    }

    88% {
        background: #f07719;
        width: 60%;
    }

    100% {
        background: #f07719;
    }
}

@-webkit-keyframes loading {
    0% {
        background: #f07719;
        width: 0;
    }

    30% {
        background: #f07719;
        width: 15%;
    }

    55% {
        background: #f07719;
        width: 38%;
    }

    59% {
        background: #f07719;
        width: 45%;
    }

    66% {
        background: #f07719;
        width: 52%;
    }

    75% {
        background: #f07719;
        width: 57%;
    }

    88% {
        background: #f07719;
        width: 60%;
    }

    100% {
        background: #f07719;
    }
}

@keyframes loading {
    0% {
        background: #f07719;
        width: 0;
    }

    30% {
        background: #f07719;
        width: 15%;
    }

    55% {
        background: #f07719;
        width: 38%;
    }

    59% {
        background: #f07719;
        width: 45%;
    }

    66% {
        background: #f07719;
        width: 52%;
    }

    75% {
        background: #f07719;
        width: 57%;
    }

    88% {
        background: #f07719;
        width: 60%;
    }

    100% {
        background: #f07719;
    }
}

.km {
    bottom: .3em;
    color: #f07719;
    font: 700 1em Calibri, helvetica;
    position: fixed;
    right: .3em;
}

.km a {
    color: inherit;
    text-decoration: none;
}

.btn-active {
    position: relative;
    background: #2B95BC;
    color: #FFF;
    border-color: #2B95BC;
}

.btn-active:after, .btn-active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(43, 149, 188, 0);
    border-top-color: #2B95BC;
    border-width: 10px;
    margin-left: -10px;
}

.Header_city {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 570px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Display_Details {
    display: inline;
    text-align: right;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.Borderleftright.PersonCount {
    border-left: 2px solid;
    border-right: 2px solid;
}

.Display_Details span {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.City_Details_box {
    width: 100%;
    background: rgba(0, 0, 0, .6);
    border: none;
    border-radius: 5px;
    padding: 18px 10px;
    margin: 0 auto;
}

.listdisplay .City_Details_box {
    display: none;
}

.City_Details_weather_box {
    width: 675px;
    margin: 0 auto;
    min-height: 100px;
}

.City_Details_weather_box:after {
    content: '';
    clear: both;
    height: 0;
    width: 100%;
}

.City_Details_weather_box .display {
    margin: auto 33px;
}

.display.removemargin-left {
    margin-left: 0;
}

.noindent {
    width: 25%;
    float: left;
}

p:not(#foo) > input[type=checkbox] {
    opacity: 0;
    display: none;
    float: left;
    width: 18px;
}

p:not(#foo) > input[type=checkbox] + label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background: url(../images/off.png) left center no-repeat;
}

p:not(#foo) > input[type=checkbox]:checked + label {
    background-image: url(../images/check.png);
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-4 {
    width: 33%;
}

.col-xs-8 {
    width: 66%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 43.5%;
}

.rightCol {
    float: right;
}

.bold {
    font-weight: bold;
}

.extrabold {
    font-weight: 600;
}

.categorie_ttl {
    color: #2b95bc;
    font-size: 14px;
}

.menu_left {
    max-height: 230px;
    overflow: auto;
}

.menu_right {
    line-height: auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.margin-bottom20 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top10 p {
    margin: 0;
}

.text-muted {
    color: #999;
}

.col-xs-2 {
    width: 16.666666666667%;
}

.col-xs-10 {
    width: 83.3333333334%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 35px;
}

.black {
    color: #000 !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.persons-review {
    color: #999;
    line-height: 1.428571429;
}

.read-reviews-provider {
    cursor: pointer;
}

.provider .static-rating {
    border-right: none;
}

.read-reviews-provider:hover {
    opacity: .8;
    filter: Alpha(opacity=80);
}

.read-reviews-provider td {
    border: none !important;
    text-align: center;
}

.persons-review div.provider {
    /*display: none;*/
}

.provider-name, .provider-name.show {
    display: none !important;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    color: black;
    font-size: large;
    border-top: 1px solid #DDD;
}

.persons-review div.provider.show {
    display: block;
}

.persons-review {
    padding: 0 !important;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.smaller {
    max-height: 52px;
    overflow: hidden;
}

.big {
    height: auto;
}

.min-btn, .minify {
    display: none;
}

.sort_bar {
    /*margin: 0 0 0 300px;*/
}

.iframe_block {
    width: 100%;
    height: 198px;
}

.trip_advice {
    display: none;
}

.rest_detail_list td {
    font-size: 1.2em;
    padding: 8px 0;
}

.btn_cont div.pull-left {
    width: 100%;
}

.manage_booking {
    display: none;
}

@media (min-width: 240px) and (max-width: 700px) {
    header {
        height: 80px;
    }

    header .container, header .social_block {
        display: none;
    }

    footer p {
        font-size: 10px;
        display: none;
    }

    footer ul {
        text-align: center;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    .social_block a.login, .social_block a.register {
        width: 90px;
        line-height: 29px;
        height: 29px;
        font-size: 12px;
    }

    #checkrate .menu_head {
        position: absolute;
        left: 275px;
        top: 0;
    }

}

@media only screen and (max-width: 1100px) {
    .footer-icon {
        display: none;
    }

    .booknow, .booknow:active, .booknow:hover {
        margin-left: 42px;
    }

    .social_block a.login, .social_block a.register {
        width: 90px;
        line-height: 29px;
        height: 29px;
        font-size: 12px;
    }

    h1 {
        left: 10px;
        top: 37px;
    }

    h1 a {
        width: 166px;
        height: 50px;
    }

    nav ul {
        padding: 42px 155px 39px 0;
    }

    .popular_dest figure {
        margin: 28px 32px;
        box-sizing: content-box !important;
    }

    .popular_dest figure:nth-child(4n+4) {
        margin-right: 32px;
    }

    footer {
        padding: 44px 0 20px;
    }

    footer .container {
        text-align: center;
        margin-top: 65px;
    }

    footer .logo {
        left: 42%;
        top: -95px;
    }

    .City_Details_box, .search_box {
        width: 98%;
        padding: 18px 5.0660792951542%;
        margin: 0 1.1013215859031%;
        background: rgba(0, 0, 0, .8);
    }

    .search_box_parent {
        width: 90%;
        background: 0 0;
    }

    .scrollToTop {
        right: 0;
    }
}

@media only screen and (max-width: 1050px) {
    body {
        padding: 0 10px;
    }

    .btn_cont {
        position: absolute;
        left: 1%;
        bottom: 10px;
        width: 98%;
    }

    .btn {
        padding: 0 25px;
    }

    .btn_cont .resbtn {
        width: 100%;
    }

    .listing-contents {
        padding: 0 0 25px;
    }

    .resbtn .btn {
        margin-left: 8px;
    }

    .resbtn .action {
        float: left !important;
    }

    .col-xs-8 {
        width: 59%;
    }

    .popular_dest figure {
        margin: 28px 25px;
        box-sizing: content-box !important;
    }

    .popular_dest figure:nth-child(4n+4) {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        padding: 0 10px;
    }

    .booknow, .booknow:active, .booknow:hover {
        margin-left: 2px;
        width: 110px
    }

    #rowdivider, .nav > li > a, ul.reviewtabs li .content-heading.tab-heading {
        font-size: 20px !important;
        padding: 0 5px !important;
        padding-left: 5px !important;
        margin: 10px 0 !important;
    }

    ul.reviewtabs li .content-heading.tab-heading {
        padding-left: 5px !important;
    }

    nav ul {
        padding: 42px 0 39px 185px;
        text-align: left;
    }

    nav ul li {
        text-align: center;
    }

    .popular_dest figure, .popular_dest figure:nth-child(4n+4) {
        margin: 15px 6px;
        width: 215px;
    }

    footer {
        font-size: 11px;
    }

    .social_block {
        right: 0;
    }

    .sidebar {
        width: 92%;
        padding: 0 3%;
        padding-right: 0;
        border-right: none;
    }

    .search_results {
        margin: 10px 0 15px;
    }

    .btn_cont {
        position: absolute;
        left: 1%;
        bottom: 10px;
        width: 98%;
    }

    .sidebar .filter-block input {
        background: 0 0;
    }

    .sort_bar {
        height: auto;
    }

    .sort_bar ul li a {
        font-size: 13px;
    }

    .col-lg-10 {
        width: 80.333333333333% !important;
    }

    .col-lg-2 {
        width: 19.666666666667% !important;
    }

    .hotel-list li .imgcont {
        width: 17.333333333333% !important;
    }

    .Header_city {
        font-size: 12px;
        width: 325px;
    }

    .Display_Details, h6 {
        font-size: 12px;
    }

    .City_Details_box {
        width: 98.665198%;
    }

    .resbtn .btn {
        margin: 2px;
        padding: 0 12px;
        width: 21%;
        float: left !important;
    }

    .listing-contents {
        padding: 0 0 35px;
    }

    .search_box .datepick input {
        width: 40%;
    } {

}

    .weather_block {
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 45px;
        display: none;
    }

    .banner.search {
        background-repeat: repeat;
    }

    .search_block.advanced {
        margin-left: 45px;
    }

    .search_block input {
        width: 42%;
    }

    .min-tab {
        background: #f6f6f6;
        position: relative;
        padding: 10px 0;
    }

    .min-btn, .minify {
        display: block !important;
    }

    .min-tab .sidebar p {
        text-align: left;
    }

    .min-btn {
        background: url(../images/arw_up.png) no-repeat;
        width: 23px;
        height: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .min-tab.active .min-btn {
        background: url(../images/arw_down.png) no-repeat;
    }

    .minify:after, .minify_block .sidebar .accommodation:after, .minify_block .sidebar ul:after, .minify_block:after {
        clear: both;
        width: 100%;
        height: 0;
        display: block;
        content: '';
    }

    .minify li {
        font-size: 16px;
        font-weight: 700;
        color: #666;
        padding: 2px 10px;
        float: left;
        text-transform: uppercase;
        border-left: 1px solid #666;
    }

    .minify li:first-child {
        border-left: none;
    }

    .minify li a {
        color: #666;
    }

    .minify li a.active {
        color: #f27b29;
    }

    .minify_block {
        padding: 10px;
        display: none;
    }

    .minify_block .sidebar {
        width: 95%;
        border: none;
    }

    .minify_block .accommodation_block .label, .minify_block .sidebar ul li {
        width: 25%;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .minify_block .sort_bar {
        background: 0 0;
        margin-left: 0;
    }

    #nearby, #sorter {
        display: none;
    }

    .col-xs-12.right-block {
        margin-top: 10px;
        width: 100%;
    }

    .read-Reviews:before {
        left: 40%;
    }

    .search_box .category .left {
        width: 26%;
        margin-right: 5%;
    }

    .search_box .category .right select {
        width: 35%;
    }

    .listing .foursquare_data img {
        width: 65px;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 650px) {

    .rate_block.detailer {
        display: none;
    }

    .provider-name.show {
        display: block !important;
    }

    ul.reviewtabs li:first-child .content-heading.tab-heading {
        border-right: 2px solid #555 !important;
    }

    .read-Reviews:before {
        display: none;
    }

    #checkrate .menu_head {
        font-size: 11px !important;
        left: 90px;
        margin: 10px 0 !important;
        padding: 0 5px !important;
    }

    .hotel-list li .imgcont {
        width: 100% !important;
        height: auto !important;
        display: none;
    }

    ul.reviewtabs li .content-heading.tab-heading, #rowdivider {
        padding-left: 0 !important;
    }

    .col-xs-5.hours {
        width: 100% !important;
        padding: 0 !important;
    }

    .checkrates td, .checkrates th {
        font-size: 12px;
    }

    .booknow, .booknow:active, .booknow:hover {
        font-size: 8px;
        padding: 5px;
        margin-left: 0;
    }

    .minify_block, .scrollToTop {
        display: none;
    }

    header {
        /*position: absolute;*/
        top: 10px;
    }

    h1 {
        left: 25px;
        top: 3px;
    }

    .social_block {
        display: none;
    }

    .banner {
        background: url(../images/banner_bg.jpg) center 0 no-repeat;
        padding: 10px 0 57px;
        clear: both;
    }

    .search_box .block {
        width: 100%;
    }

    .search_box ul li {
        padding: 5px 5px 5px 0;
    }

    .search_box .review a {
        width: 21.333333%;
        margin-right: 1.666667%;
    }

    .search_box .block.expand, .search_box .block.expand select, .search_box .review a img {
        width: 100%;
    }

    .search_box .block.expand input {
        margin-top: 10px;
        width: 95%;
    }

    .search_box .category .left {
        width: 35%;
        margin-right: 2%;
    }

    .search_box .category .middle {
        margin-right: 0;
    }

    .popular_dest figure {
        margin: 15px 8px;
        box-sizing: content-box !important;
    }

    .slicknav_menu {
        display: none;
    }

    .slicknav_menu:first-child {
        display: block;
    }

    footer .container {
        margin-top: 0;
    }

    footer {
        padding: 20px;
    }

    .search_box .beatpicker-inputnode:first-child {
        margin-right: 0;
        margin-bottom: 45px;
    }

    .search_box .beatpicker-inputnode {
        width: 90% !important;
    }

    .search_box label.checkout {
        position: absolute;
        top: 86px;
        margin-left: 0;
    }

    .search_box .datepick input {
        width: 89%;
    }

    #to {
        margin-top: 48px;
    }

    .minify_block .accommodation_block .label, .minify_block .sidebar ul li {
        width: 48%;
        float: left;
        font-size: 12px;
    }

    .sort_bar ul li a {
        font-size: 12px;
        padding: 5px;
    }

    .minify_block .sort_bar {
        padding: 0;
    }

    .minify_block .bold.pull-left {
        display: none;
    }

    .listing-contents {
        margin: 0;
    }

    ..listing {
        width: 97%;
    }

    .listing figure, .listing img.hotel_pic {
        width: 100%;
    }

    .listing-contents h5 {
        float: left;
        width: 100%;
    }

    .btn {
        padding: 0 11px;
        min-width: 85px;
    }

    .home #container, .listing .location .location-icon {
        display: none;
    }

    .banner.search {
        background-repeat: no-repeat;
    }

    .listdisplay .City_Details_box {
        display: block;
        width: auto;
    }

    .search_block.advanced, .search_box {
        display: none;
    }

    .manage_booking {
        display: none;
    }

    .home .search_box, home .search_block.advanced {
        display: block;
    }

    .home .listdisplay .City_Details_box {
        display: none;
    }

    #rowdivider, .nav > li > a, ul.reviewtabs li .content-heading.tab-heading {
        font-size: 13px !important;
        padding: 0 5px !important;
        padding-left: 5px !important;
        margin: 10px 0 !important;
    }

    ul.reviewtabs li .content-heading.tab-heading {
        padding-left: 5px !important;
    }

    .checkrates, .checkrates th {
        font-size: 10px;
    }

    .checkrates td {
        padding: 0;
    }

    .checkrates img {
        width: 100px;
        height: auto;
    }

    .checkrates .booknow, .checkrates .booknow:active, .checkrates .booknow:hover {
        font-size: 8px;
        padding: 5px 1px;
        margin-left: 0;
    }

    .btn_cont div.pull-left {
        width: 97%;
    }
}

@media only screen and (max-width: 480px) {
    .foursquare_icon {
        width: 60px;
    }

    .rate_block span {
        font-size: 14px;
        display: none;
    }

    .avg_night_rate {
        display: none;
    }

    .rate_block h3 {
        margin-top: 5px;
    }

    .btn {
        min-width: 70px;
        font-size: 10px;
        margin-left: 5px;
        display: none;
    }

    .btn.action {
        display: block;
        position: absolute;
        right: 40px;
        bottom: 0;
    }

    .listing-contents {
        padding: 0;
    }

    .noindent {
        width: 50%;
    }

    #checkrate.container_block, #rowdivider.content-heading {
        display: none;
    } {
    display: none !important;
}

    .bx-wrapper {
        width: 90%;
    }

    .gallery {
        width: 95%;
        display: none;
    }

    .search_box .category .middle {
        width: 18%;
    }

    .search_box dd {
        width: 45%;
    }

    dd.right {
        width: 90%;
        margin-top: 5px;
    }

    .search_box .category .left {
        width: 35%;
    }

    .listing {
        width: 94%;
    }
}

@media only screen and (max-width: 420px) {
    .search_box ul li {
        padding: 15px 18px 15px 0;
        font-size: 10px;
    }

    .booknow {
        margin-left: 32%;
        width: 80px;
        text-align: center;
    }

    .btn {
        min-width: 85%;
        margin: 5px;
        float: left !important;
    }

    /*.search_box .category .middle {*/
        /*width: 50%;*/
    /*}*/

    footer ul li a {
        margin: 0 10px;
        font-size: 8px;
    }

    /*.search_box .block.expand input {*/
        /*margin-top: 10px;*/
        /*width: 93%;*/
    /*}*/

    .weather_block {
        width: 100%;
    }

    .search_results {
        margin: 0;
    }

    .action, .btn:first-child {
        margin-left: 4px;
        float: left;
    }

    .action, .btn {
        font-size: 10px;
        padding: 0 8px;
        margin-left: 3px;
    }

    /*.search_block select {*/
        /*width: 99%;*/
    /*}*/

    /*.search_block input {*/
        /*width: 92%;*/
        /*margin: 5px 0;*/
    /*}*/

    .sidebar {
        width: 99%;
        padding-right: 0;
    }

    /*.search_results {*/
        /*width: 100%;*/
        /*float: left;*/
    /*}*/

    .Header_city {
        width: 100%;
    }

    /*.search_box .category .left {*/
        /*width: 35%;*/
    /*}*/

    /*.search_box .category .right select {*/
        /*width: 27%;*/
    /*}*/

    .listing-contents {
        padding: 0;
    }

    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        width: 100% !important;
    }

    .listing .rate_block {
        padding: 0;
        border: none;
    }

    dd.right {
        width: 100%;
    }

    .res_view.btn_cont {
        position: static;
    }

    .col-xs-12.btn_cont {
        width: 50% !important;
        left: 60%;
    }
}

.loader {
    width: 100px;
    height: 101px;
    border: 8px solid;
    border-radius: 50%;
    transform: rotate(45deg);
    margin: 30px auto;
    border-color: #F17D24 #2B95BC #2B95BC #F17D24;
}

.loader p {
    display: inline-block;
    width: 107px;
    height: 107px;
    background: linear-gradient(90deg, hsla(212, 67%, 36%, 0) 0, hsla(207, 69%, 51%, 0) 76%, hsla(0, 0%, 100%, 1) 85%, hsla(0, 0%, 100%, 1) 100%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 6px solid transparent;
    border-radius: 50%;
    box-shadow: inset -999px 0 0 #fff;
    transform: translate(-8px, 55px);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: translate(-9px, -25px) rotate(0deg);
    }

    100% {
        transform: translate(-9px, -25px) rotate(360deg);
    }
}

.Display_Date {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Display_Date span {
    padding-right: 15px;
    white-space: nowrap;
}

.tab-content p {
    margin-bottom: 10px;
}
#landmark{
	background-image: none;
}
#zipcode{
	background-image: none;
}

/*---------------------------Stalin Styles-----------------------*/
.mrg-lft{
	margin-left:0px !important;
	}
.mrg-rght{
	margin-right:0px !important;
	}
.mrg-tp4{
	margin-top: 4% !important;
	}
.btn-hide-cls{
    padding: 0 9px !important;
    margin-left:0px !important;
}
.btn-hide-cls2{
    margin-top: -74px; !important;
    line-height: 26px; !important;
	font-size: 11px !important;
}
.wdth-ajst{
	width: 16% !important;
	}
.wdth-ajst2{
	width: 12% !important;
	}
.bttn-line{
	line-height:40px !important;
	}
.btn-inn option{
	color:#999;
	}
.btn-inn{
	color:#fff !important;
	}
.bbtn-20{
	top:-20px !important;
	}
/*My STYLES */

.catalog-filter {
    width: 100%;
    font-size: 12px;
    left: 15px;
    top: 0px;
}
.catalog-filter>div {
    background: #fff;
    border: #e5e5e5 1px solid;
}
div.h4 {
    font-size: 16px;
    padding: 17px 13px 12px;
    background-color: #f9f9f9;
    margin-top: 0;
    margin-bottom: 0;
}

.filter-container {
    padding: 0;
    margin: 0;
}

.brand-search-container {
    position: relative;
}

.brand-search-container>span {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/search_symbol.png);;
    display: inline-block;
    top: 5px;
    left: 8px;
}

.glyphicon-star-empty {
    color: #f3b600;
    font-size: 18px;
}

.glyphicon-star {
    color: #f3b600;
    font-size: 18px;
}

.brand-search-container .search-input {
    background: 0 0;
}

.filter-container>li .search-input {
    margin-bottom: 11px;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -o-user-select: initial;
    background-color: #fff;
    user-select: initial;
    font-size: 13px!important;
    height: 36px;
}

.offers {
    visibility: visible !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.filter-container>li {
    list-style-type: none;
}

div.h6 {
    color: #434343;
}

.filter-container>li .h6 {
    position: relative;
    border-top: #e5e5e5 1px solid;
    font-size: 14px;
    padding: 17px 13px 14px;
    margin: 0;
}

.filter-container .selected-count {
    display: none;
    padding-left: 5px;
}

.hide-border {
    display: none;
}

.collapse-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image : url(../images/plus.png);
    background-repeat: no-repeat;
}

.expand-collapse {
    position: absolute;
    cursor: pointer;
    display: block;
    padding: 16px 10px 16px 20px;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

.expand-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image : url(../images/minus.png);
    background-repeat: no-repeat;
}

.filter-container>li .options {
    padding: 0 13px;
    margin-bottom: 14px;
   max-height:342px;
   overflow:auto;
}

.options::-webkit-scrollbar {
    width: 12px;
}

.options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px; 
}

.options::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px; 
}

.displayBlock{
	display :block;
}

.catalog-filter label {
    display: block;
    margin: 0 0 3px;
    vertical-align: top;
    line-height: 23px;
}

label {
    cursor: default;
    height:24px;
}
label>div {
    margin-right: 7px;
}
div.custom-checkbox {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block!important;
    margin-bottom: 14px;
    margin-right: 10px;
    overflow: hidden;
}

div.custom-radio {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block!important;
    margin-bottom: 14px;
    margin-right: 10px;
    overflow: hidden;
}

.filter-container>li .options label>a {
    color: #707070;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    vertical-align: top;
    text-transform: none;
}
.child-facet {
    border-top: #e5e5e5 1px solid;
    padding-top: 12px;
   
}
.tr-rating {
    height: 18px;
    width: 18px;
    background-size: contain;
    background-image: url(../images/tr-rating.png);
}
.tr-rating-empty {
    height: 18px;
    width: 18px;
    background-size: contain;
    background-image: url(../images/tr-rating-empty.png);
}