<div ng-controller="HotelSearchController">

    <div class="search_box_parent">
        <div class="error" style="display:none">Sorry, no available hotels were found. Please try alternative options.
        </div>
        <div class="listdisplay">

            <div class="search_box">

                <div id="hotelsearch">
                    <div class="block">
                        <h3 ng-if="searchMode='large'">WHERE</h3>
                        <label ng-if="searchMode='large'">Your Destination</label>
                        <ui-select class="tr-citySearch" ng-model="hotelSearch.city"
                                   theme="bootstrap" ng-click="disableError()"
                                   ng-disabled="disabled" style="width: 350px;">
                            <ui-select-match title="Search by Cities, Airport, Hotel, Zip code & Landmark" placeholder="Search by Cities, Airport, Hotel name & Zip code"
                                             allow-clear="false" >
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices group-by="groupByHotelType" ng-click="disableError()"
                                               repeat="hotel in hotels | propsFilter: {value: $select.search}"
                                               refresh="suggestHotels($select.search)">
                                <div ng-bind-html="hotel.value | highlight: $select.search"></div>
                            </ui-select-choices>
                      	</ui-select>
                        <span class="suberror" ng-if="showError">Please select your destination.</span>
                    </div>

                    <div class="block">
                        <h3 ng-if="searchMode='large'">WHEN</h3>
                        <dl class="datepick tr-datePicker">
                            <label ng-if="searchMode='large'">Check In</label>

                            <label class="checkout" ng-if="searchMode='large'">Check Out</label>
                            <input
                                    type="text" id="from" name="from"
                                    ng-model="hotelSearch.in"
                                    bs-datepicker
                                    data-min-date="today"
                                    placeholder="check-in "
                                    data-date-format="yyyy-MM-dd" data-autoclose="1" data-placement="bottom">
                            <input
                                    type="text" id="to" name="to"
                                    ng-model="hotelSearch.out"
                                    bs-datepicker
                                    data-min-date="today"
                                    placeholder="check-out"
                                    data-date-format="yyyy-MM-dd" data-autoclose="1" data-placement="bottom">

                        </dl>
                    </div>
                    <article class="category">
                        <dl>
                            <dt class="left">
                                <label>Rooms</label>
                                <select name="rooms" ng-model="hotelSearch.rooms" convert-to-number id="rooms">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </dt>
                            <dt class="middle">
                                <label>Guests</label>
                                <select name="adults" ng-model="hotelSearch.numberofadults" convert-to-number id="guests">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </dt>

                            <button class="btn btn-mini button right tr-searchHotel--main" ng-click="search()" id="findHotels" >FIND HOTELS</button>

                        </dl>
                    </article>

                    <article class="review">

                        <h3>REVIEWS BY:</h3>

                        <a href="javascript:void(0)"><img src="images/tripadvisor.png"></a>

                        <a href="javascript:void(0)"><img src="images/yelp.png"></a>

                        <a href="javascript:void(0)"><img src="images/foursquare.png"></a>
                        
                        <a href="javascript:void(0)"><img src="images/booking.com.png"></a>
                        
                        <a href="javascript:void(0)"><img src="images/trustyou.png"></a>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>

