<div class="trip-reviewer" name="tr-Container" ng-controller="AppController">

    <ng-include src="'./modules/header/header.html'"></ng-include>


    <div  ui-view="lazyLoadView">
    </div>

    <ng-include src="'./modules/footer/footer.html'"></ng-include>


</div>